<template>
<div >
          <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><a><i class="fas fa-tasks"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Total Balance</span>
                <span class="info-box-number">
                 ₦ {{data.total_balance}}
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><a ><i class="fas fa-list"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Available Balance</span>
                <span class="info-box-number">
                 ₦ {{data.available_balance}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><a ><i class="fas fa-list-ol"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Pending  Balance</span>
                <span class="info-box-number">
                 ₦ {{data.pending_balance}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><a ><i class="fas fa-project-diagram"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Withdrawal Request</span>
                <span class="info-box-number">
                  <button class="btn btn-success" v-on:click.prevent = "startwithdraw()" >Withdraw</button>
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div> 
        <div class="row">
            <div class="col-md-6">
               <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Transaction History</h3>
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                   <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                   
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="transaction in transactions" :key="transaction.id">
                                            <td>{{transaction.id}}</td>
                                            <td>{{transaction.from_name}}</td>
                                            <td>{{transaction.to_name}}</td>
                                            <td>₦{{transaction.amount}}</td>
                                            <td>
                                                <span v-if="transaction.type =='credit'" class="badge badge-success">{{transaction.type}}</span>
                                                <span v-else class="badge badge-danger">{{transaction.type}}</span></td>
                                            <td>
                                                <span v-if="transaction.status == '1'" class="badge badge-success">successful</span>
                                                <span v-else class="badge badge-warning">failed</span>
                                                </td>
                                            <td>{{transaction.description}}</td>
                                            <td>{{transaction.created_at}}</td>
                                        
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div> 
            </div>
            <div class="col-md-6">
                 <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Withdrawal Request</h3>
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                   <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                   
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="withdrawal in withdrawals" :key="withdrawal.id">
                                            <td>{{withdrawal.id}}</td>
                                            <td>₦{{withdrawal.amount}}</td>
                                            <td>
                                                <span class="badge badge-success">{{withdrawal.status }}</span>
                                            </td>
                                            <td>{{withdrawal.created_at}}</td>
                                            <td><button id="cancel" v-if="withdrawal.status == 'Pending'" class="btn btn-danger" v-on:click.prevent = "cancelRequest(withdrawal.id)"><i class="fas fa-times"></i></button></td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div> 
            </div>
        </div>
        
 <div class="modal fade" id="withdrawal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Withdrawal Request </h5>
        
      </div>

      <div class="modal-body">
         <input type="number" v-model="amount" class="form-control" placeholder="Enter Withrawal Amount">  
      <br><br>
        <button type="submit" class="btn btn-primary" v-on:click.prevent = "withdraw()" id="withdraw">Withdraw</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
          data: {},
          transactions:[],
          amount: 0,
          withdrawals: []
     
        }
        },
       methods: {
           cancelRequest(id){
               console.log(id)
                 $('#cancel').attr('disabled','disabled');
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/withdrawal/cancel',{ "id" : id}).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#withdrawal').modal('hide');

                         this.$swal(
                        'Successful',
                        'Your Withdrawal Request Was Cancelled.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#cancel').removeAttr('disabled');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                      $('#cancel').removeAttr('disabled');
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           startwithdraw(){
               $('#withdrawal').modal('show');
           },
           withdraw(){
               if(this.amount == 0){
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Enter Amount',
                    }) 
               }else if(parseInt(this.amount) > parseInt(this.data.available_balance) ){
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Insuficient Balance.',
                    }) 
               }else{
                 $('#withdraw').attr('disabled','disabled');
                 $('#withdraw').text('Processing...');
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/withdrawalrequest',{ "amount" : this.amount}).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#withdrawal').modal('hide');

                         this.$swal(
                        'Successful',
                        'Your Withdrawal Request is SuccessFul.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#withdraw').text('Withdraw');
                      $('#withdraw').removeAttr('disabled');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                 $('#withdraw').text('Withdraw');
                      $('#withdraw').removeAttr('disabled');
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
               }
           },
              getData(){
            console.log('here o');            
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/getAccount').then((response) => {
                 console.log('here o');
                    console.log( response.data);
                  
                       
                       this.data =response.data.account; 
                       this.transactions =response.data.transactions; 
                       this.withdrawals =response.data.withdrawals; 

                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
       },
    
      },
        mounted() {
         this.getData();
            Fire.$on('reload', () => {
            this.getData();
           
          })
              setTimeout(()=> {
               $("#example1").DataTable({
                "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]
              });    
              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]
                    });
            },2000); 
          
        }
    }
</script>
