<template>
<div >
    <div>
         <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><a href="/usermanagement"><i class="far fa-user"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Users</span>
                <span class="info-box-number">
                  {{users}}
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><a href="/usermanagement"><i class="fas fa-user-shield"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Artisans</span>
                <span class="info-box-number">{{artisans}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><a href="/usermanagement"><i class="fas fa-user-tag"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Supervisors</span>
                <span class="info-box-number">{{supervisors}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><a href="/usermanagement"><i class="fas fa-user-tie"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Admins</span>
                <span class="info-box-number">{{admins}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
         <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><a href="/requestmanagent"><i class="fas fa-tasks"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">New Artisan Request</span>
                <span class="info-box-number">
                  {{pending_requests}}
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><a href="/mergedrequest"><i class="fas fa-list"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Merged Requests</span>
                <span class="info-box-number">{{merged_requests}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><a href="/completedrequest"><i class="fas fa-list-ol"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Completed Requests</span>
                <span class="info-box-number">{{complete_requests}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><a href="/artisanskills"><i class="fas fa-project-diagram"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Artisans SKills</span>
                <a href="/artisanskills" class="btn btn-warning">manage skills</a>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
               <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><a href="/productmanagement"><i class="fab fa-product-hunt"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Products</span>
                <span class="info-box-number">
                  {{items}}
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><a href="/tips"><i class="fas fa-sticky-note"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Tips</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><a href="/completedrequest"><i class="fas fa-cogs"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Merge Settings</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><a href="/admin/contactus"><i class="far fa-address-book"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Contact Us Messages</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
  
            <div class="row">
              <div class="col-md-12" > <h4 class="alert alert-dark">Merge Settings</h4></div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
              <div class="col-md-8" > <h4 class="alert alert-dark">Artisan Merge Settings</h4></div>

                 <label class="checkbox">One time Merge
                </label>
                  <input type="checkbox" class="form-control"  v-model="settings.artisansingleMerge" > <hr class=" alert-warning">

                <label class="checkbox" >Single Job 
                </label>
                  <input type="checkbox" class="form-control" v-model="settings.artisansingleJob"><hr class=" alert-warning"> 

                 <label class="checkbox">Same State
                </label>
                  <input type="checkbox" class="form-control" v-model="settings.artisansameState" > <hr class=" alert-warning">

                 <label class="checkbox">Same Area
                </label>
                  <input type="checkbox" class="form-control"  v-model="settings.artisansameArea"><hr class=" alert-warning"> 

                <label class="checkbox">
                   Same Skills
                </label>
                <input type="checkbox" class="form-control"  v-model="settings.artisansameSkills"><hr class=" alert-warning">
                 <label class="checkbox">
                   Approved Artisans
                </label>
                <input type="checkbox" class="form-control" v-model="settings.artisanapproved" ><hr class=" alert-warning">

              </div>
                <div class="col-md-5">
              <div class="col-md-8" > <h4 class=" alert-dark">Supervisor Merge Settings</h4></div>

                  <label class="checkbox">
                   One time Merge
                </label>
                <input type="checkbox" class="form-control"  v-model="settings.supervisorsingleMerge" ><hr class=" alert-warning">
                <label class="checkbox" >
                  Single Job 
                </label> 
                <input type="checkbox" class="form-control" v-model="settings.supervisorsingleJob"><hr class=" alert-warning">
                 <label class="checkbox">
                Same State
                </label>  
                <input type="checkbox" class="form-control" v-model="settings.supervisorsameState" > <hr class=" alert-warning">
                 <label class="checkbox">
                  Same Area
                </label> 
                <input type="checkbox" class="form-control"  v-model="settings.supervisorsameArea"><hr class=" alert-warning">
                 <label class="checkbox">
                 Approved Artisans
                </label> 
                <input type="checkbox" class="form-control" v-model="settings.supervisorapproved" > <hr class=" alert-warning">
              </div>
              <div class="col-8"></div>
              <div class="col-4"><button class="btn btn-warning" id="save" v-on:click="saveSettings()">Save Settings</button></div>
            </div>  
    </div>
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         admins: 0,
         users: 0,
         artisans: 0,
         settings: {},
         pending_requests: 0,
         merged_requests: 0,
         complete_requests: 0,
         artisanSingleMerge: false,
         orders: 0,
         items: 0,
         supervisors: 0
     
        }
        },
       methods: {
         saveSettings(){
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
            $('#save').attr('disabled','disabled');
                 $('#save').text('Processing...'); 
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/saveSetting' , this.settings).then((response) => {
                
                    if(response.data.code == 200){
                         Fire.$emit('reload');

                         this.$swal(
                        'Successful',
                        'Settings Saved Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                   
                    $('#save').text('Save Settings');
                      $('#save').removeAttr('disabled');
                    }).catch(err => {

                    //  window.location.href = '/login'; 
                     $('#save').text('Save Settings');
                      $('#save').removeAttr('disabled');
                  });     
      
         },
         getData(){
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/home').then((response) => {
         
                     
                     this.admins = response.data.admins;
                     this.users = response.data.users;
                     this.items = response.data.items;
                     this.artisans = response.data.artisans;
                     this.supervisors = response.data.supervisors;
                     this.pending_requests = response.data.pending_requests;
                     this.merged_requests = response.data.merged_requests;
                     this.complete_requests = response.data.complete_requests;
                     this.orders = response.data.orders;
                     this.settings = response.data.settings;
                    
                     
                    }).catch(err => {

                    //  window.location.href = '/login'; 

                  });     
         },
       
      },
        mounted() {
        this.getData();
         
          
        }
    }
</script>
