<template>
<div >
        <section id="main-content" class="animated fadeInUp">
                <div class="row" id="pending" >
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-heading">
                                <h3 class="card-title">Pending Requests</h3>
                              
                               
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                  <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone NUmber</th>
                                            <th>Skills</th>
                                            <th>Job Type</th>
                                            <th>Description</th>
                                            <th>Address</th>
                                            <th>Area</th>
                                            <th>State</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="job in data" :key="job.id">
                                            
                                            <td>{{job.id}}</td>
                                            <td>{{job.user.name}}</td>
                                            <td>{{job.user.email}}</td>
                                            <td>{{job.phone_number}}</td>
                                            <td>{{job.skill_name}}</td>
                                            <td>{{job.job_type}}</td>
                                            <td>{{job.description}}</td>
                                            <td>{{job.address}}</td>
                                            <td>{{job.area_name}}</td>
                                            <td>{{job.state_name}}</td>
                                            <td>{{job.status}}</td>
                                            <td><button class="btn btn-info" v-on:click.prevent = "mergejob(job)">merge</button></td>
                                        
                                           
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                    
            </section>
    <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Merge Job </h5>
        <h4>Select Artisan and Supervisor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
          <form action="">
        <div class="form-group">
            <label for="">Select State</label>
               <select class="form-control" name="" id="" @change="getAreas()" v-model="state_id">
                <option value="0"> All</option>
                <option v-for="state in states"  :key="state.id" :value="state.id">{{state.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Select Area</label>
            <select class="form-control" name="" id=""  @change="getartisan()" v-model="area_id">
               <option value="0"> All</option>
                <option v-for="area in area_selected"  :key="area.id" :value="area.id">{{area.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Select Artisan</label>
               <select class="form-control" name="" id="" v-model="artisan_id">
                
                <option v-for="artisan in artisan_selected"  :key="artisan.id" :value="artisan.id">{{artisan.user.name}} 
                  (
                    {{artisan.skill_name}}
                  )
                </option>
            </select>
        </div>
        <div v-if="!onlyartisan" class="form-group">
            <label for="">Select Supervisor</label>
               <select class="form-control" name="" id="" v-model="supervisor_id">
                
                <option v-for="supervisor in supervisor_selected"  :key="supervisor.id" :value="supervisor.id">{{supervisor.user.name}} || {{supervisor.user.email}} 
                 
                </option>
            </select>
        </div>
              </form>   
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><button type="submit" id="merge" class="btn btn-primary" v-on:click.prevent = "mergeArtisan()">Merge</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
        states: [],
        areas:[],
        artisans: [],
        allartisans: [],
        allsupervisors: [],
        state_id: "",
        area_id: "",
        artisan_id: "",
        supervisor_id: "",
        area_selected: [],
        artisan_selected: [],
        supervisor_selected: [],
        data: [],
         newjobs: [],
         merged_jobs: [],
         completed_job: [],
         job: [],
         request_option: "",
         onlyartisan : false,
          
        }
        },
       methods: {
       
         mergeArtisan(){
          
          
           if(this.artisan_id == "" ){

               this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select An Artisan ',
                    })
           }
           else if(!this.onlyartisan && this.supervisor_id == ""){
            this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select An Supervisor ',
                    })
          }
           else{
              $('#merge').attr('disabled','disabled');
          $('#merge').text('Processing...');
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
               let address = "";
              if(this.onlyartisan){
                address = '/api/admin/mergejobrepairs'
              }else{
                 address = '/api/admin/mergejoball'
              }
                // localStorage.setItem('access_token', data.access_token);
               axios.post(address,{ "job_id" : this.job.id , "artisan_id" : this.artisan_id , "supervisor_id" : this.supervisor_id}).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'Request Merged Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#merge').text('Merge');
                      $('#merge').removeAttr('disabled');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                 $('#merge').text('Merge');
                      $('#merge').removeAttr('disabled');
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           }
         },
         getartisan(){
           let count = 0;
                this.allartisans.forEach(user => {
                  if(this.job.skills_id == user.skill_id){
                    this.artisans[count] = user;
                    count++;
                  }
                });
                this.artisan_id = "";
               if(this.area_id == '0'){
                 this.artisan_selected = this.artisans;
                 this.supervisor_selected = this.allsupervisors;
               }else{
                 let count =  0;
                  this.artisan_selected =[];
             console.log(this.artisan_selected);
                 this.artisans.forEach(artisan => {
                   if(artisan.area_id == this.area_id){
                      this.artisan_selected[count] = artisan;
                   count++;
                   }
                   
                 });
                 count =  0;
                 this.allsupervisors.forEach(supervisor => {
                   if(supervisor.area_id == this.area_id){
                      this.supervisor_selected[count] = supervisor;
                   count++;
                   }
                   
                 });
               }
               console.log(this.area_selected);
         },
           getAreas(){
             
               if(this.state_id == '0'){
                 this.area_selected = this.areas;
               }else{
                 let count =  0;
                  this.area_selected =[];
             console.log(this.area_selected);
                 this.areas.forEach(area => {
                   if(area.state_id == this.state_id){
                      this.area_selected[count] = area;
                   count++;
                   }
                   
                 });
               }
               console.log(this.area_selected);
           },
           mergejob(job){
               this.job = job;
               if(job.job_type == "repairs"){
                 this.onlyartisan = true;
               }else{
                 this.onlyartisan = false;
               }
               this.area_selected = [];
               this.artisan_selected = [];
             $('#uploadmodal').modal('show');
             
           },
           getrequests(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/getjobs').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.newjobs = response.data.newjobs;
                           this.data = response.data.newjobs;
                           this.merged_jobs = response.data.merge_jobs;
                           this.completed_jobs = response.data.completed_jobs;
                           this.states = response.data.states;
                           this.areas = response.data.areas;
                           this.allartisans = response.data.artisans;
                           this.allsupervisors= response.data.supervisors;
                          
                           console.log(  this.areas )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getrequests();
     
        setTimeout(()=> {

              $('#example1').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000); 
            
            Fire.$on('reload', () => {
            this.getrequests();
           
          })
        }
        
    }
</script>