<template>
<div >
        <section class="content">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Data Table</h3>
                                
                            </div>
                           <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Skills</th>
                                            <th>Describtion</th>
                                            <th>Address</th>
                                            <th>Area</th>
                                            <th>State</th>
                                            <th>Phone Number</th>
                                            <th>Status</th>
                                            <th>Quote</th>
                                            <th>Amount Paid</th>
                                            <th>Actions</th>

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="request in requests" :key="request.id">
                                          <td>{{request.id}}</td>
                                          <td>{{request.user.name}}</td>
                                          <td>{{request.user.email}}</td>
                                          <td>{{request.job_name}}</td>
                                          <td>{{request.jobdata.description}}</td>
                                          <td>{{request.jobdata.address}}</td>
                                          <td>{{request.area_name}}</td>
                                          <td>{{request.state_name}}</td>
                                          <td>{{request.jobdata.phone_number}}</td>
                                          <td><span class="badge badge-info">{{request.status}}</span> </td>
                                          <!--  -->
                                          <td> ₦{{request.jobdata.quote}}</td>
                                          <td>₦ {{request.jobdata.amount_paid}}</td>

                                          <!-- <button> view Reciepts</button> -->
                                          <td><button v-if="request.status == 'Accepted'" v-on:click.prevent = "addQuote(request)" class="btn btn-warning btn-sm">Add Quote</button>
                                              <button v-if="request.status == 'Payment Processed'" v-on:click.prevent = "showuploadPage(request)">Add Reciept</button>
                                            <button  v-if="request.jobdata.job_type != 'repairs' && request.status != 'Pending' && request.status != 'Cancelled'" class="btn btn-info btn-sm" v-on:click.prevent =  "viewsupervisor(request)" >
                                                 <i class="fas fa-eye"></i>
                                                  View Supervisor
                                              </button>
                                          </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
<div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Quote (Amount User is to Pay for the Job)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="">
            <label for="">Amount</label>
             <input type="number" v-model="amount" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary" v-on:click.prevent = "sendQuote()">Add Quote</button>
      </div>
    </div>
  </div>
</div>
 <div class="modal fade"   id="supervisormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Artisan Data  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body" v-if = "request != '' ">
        
            <h3 class="alert alert-warning">Supervisor Data</h3>
               <h2>Name</h2>
          <p>{{ request.supervisor.name}}</p>
           <h2>Email</h2>
          <p>{{ request.supervisor.email}}</p>
           <h2>Phone Number</h2>
          <p>{{ request.supervisor_data.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ request.supervisor_data.address}}</p>
          <h2>Area</h2>
          <p>{{ request.supervisor_data.area_name}}</p>
          <h2>State</h2>
          <p>{{ request.supervisor_data.state_name}}</p>
           
          <img  v-bind:src ="'/storage/profile/' + request.supervisor_data.profile_image"  id="image"  alt="proof" height="200" width="250" />
     
        
         </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
          amount: 0,
         requests: [],
         request: "",
         proofs: [],
         path: ""
            
        }
        },
       methods: {
         getproofs(request){
           $('#proofmodal').modal('show');
            this.request = request;
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/getproofs',{'jobmerge_id' : request.id }).then((response) => {
                     if(response.data.code == 200){
                       this.proofs =  response.data.proofs;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
                  
         },
         viewsupervisor(request){
           this.request = '';
           if(request.job_type != 'repairs' ){
              this.request = request;
               $('#supervisormodal').modal('show');
           }
            
         },
           sendQuote() {
               if (this.amount != 0) {
              var fd = new FormData();
              fd.append('amount',this.amount);
              fd.append('jobmerge_id' , this.request.id);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/addQuote',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Job Quoted.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     $('#uploadmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
               }else{
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select an image',
                    })
               } 
            },
           addQuote(request){
              
               this.request = request;
               console.log(this.request);
                
                //  this.$swal(
                //         'Wifi Data Saved!',
                //         'The Wifi Data have been  Successfully.',
                //         'success'
                //       ) ;

                
                $('#uploadmodal').modal('show');

           },
           getmergeRequest(){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/getmergeRequest').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.requests = response.data.requests;
                           console.log(  this.requests )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } ,
               validateArtisan(){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/artisan/validate').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           console.log("artisan payment and active status verified");
                      }else{
                    console.log("artisan status not verified");
                     window.location.href = '/artisandata'; 
                      }
                     
                    }).catch(err => {

                    //  window.location.href = '/login'; 

                  });    
           }
      },
        mounted() {
          this.validateArtisan();
        let $userStatus = localStorage.getItem('status');
         console.log("artisan dash");
         console.log($userStatus);
        if($userStatus != null && $userStatus == 0){
          window.location.href = '/artisandata'; 
        }
        console.log('erroorr');
           this.getmergeRequest();
           
         setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000); 
     
                 Fire.$on('reload', () => {
            this.getmergeRequest();
           
          })
        }
    }
</script>
