<template>
<div >
      <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><a href="/requestmanagent"><i class="fas fa-tasks"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Total Merged Requests</span>
                <span class="info-box-number">
                  {{all_requests}}
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><a href="/mergedrequest"><i class="fas fa-list"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Active Merged Requests</span>
                <span class="info-box-number">
                  {{accepted_requests}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><a href="/completedrequest"><i class="fas fa-list-ol"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Rejected Requests</span>
                <span class="info-box-number">
                 {{rejected_requests}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><a href="/artisanskills"><i class="fas fa-project-diagram"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Completed Merged Requests</span>
                <span class="info-box-number">
                  {{completed_requests}}
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div> 
        <div v-if="request_count != 0">
        <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-2" >
                        
                        <div class="card text-center"  v-for="request in requests" :key="request.id">
                            <div class="card-header">
                              New Request 
                              <span class="badge badge-info"><vue-moments-ago prefix="posted" suffix="ago" :date="request.created_at"></vue-moments-ago></span>
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-6">
                                    <h6 class="alert alert-info">User Data</h6>
                                    <h4>Name</h4>

                                <p>{{request.user.name}}</p>
                                <hr class="alert-warning">

                                <h4>Email</h4>

                                <p>{{request.user.name}}</p>
                                <hr class="alert-warning">

                                <h4>Phone Number</h4>

                                <p>{{request.userdata.phone_number}}</p>
                                <hr class="alert-warning">
                                   <p>Area: {{request.area_name}}</p>
                                <p>State:{{request.state_name}}</p>
                                <hr class="alert-warning">
                                </div>
                                <div class="col-md-6">
                                    <h6 class="alert alert-info">Job Data</h6>
                                     <h4>Skills</h4>
                                     
                                <p>{{request.job_name}} </p>
                                <hr class="alert-warning">

                                <h4>Job Type</h4>

                                <p>{{request.userdata.job_type}} </p>
                                <hr class="alert-warning">
                                <h1>Description</h1>
                                <p>{{request.userdata.description}}</p>
                                <hr class="alert-warning">    
                                <h4>Address</h4>
                                <p>{{request.userdata.address}}</p>
                               

                                </div>
                              </div>
                                
                             
                            </div>
                            <div class="card-footer text-muted">
                               <span id="goal-text" class="goal-value pull-left"><button class="btn btn-danger btn-3d" v-on:click.prevent = "rejectRequest(request.id)" :id="'rsubmit'+ request.id" type="rsubmit"><i :id="'rloader' + request.id" style="display: none" class="fa fa-circle-o-notch fa-spin"></i>Decline</button></span>

                              <span id="gauge-text" class="gauge-value pull-right"><button class="btn btn-success btn-3d" v-on:click.prevent = "acceptRequest(request.id)" :id="'submit'+ request.id" type="submit"><i :id="'loader' + request.id" style="display: none" class="fa fa-circle-o-notch fa-spin"></i>Accept</button></span>
                                
                            </div>
                          </div>
                        </div>
                   
                    </div>
                </div>
            </div>
                 <div v-else>
               <div class="container">
                <div class="row">
                    
                    <div class="col-md-8 offset-2">
                      <div class="card text-center">
                        <div class="card-header">
                          No New Request
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">   Stand By!!!!</h5>
                          <p class="card-text">You Currently have no New Requests.</p>
                        </div>
                        
                      </div>
                       
                    </div>
                </div>
            </div>
                        </div>
</div>
</template>
<script>
import VueMomentsAgo from 'vue-moments-ago';
    
    export default {
    name: "dashboard",
    components: {
    VueMomentsAgo
  },
            data(){
        return {
         requests: {},
         request_count: 0,
          accepted_requests:0,
          all_requests:0,
          completed_requests: 0,
          rejected_requests: 0

        }
        },
       methods: {
           rejectRequest(id){
            console.log("rejected");  
             console.log($('#rloader' + id));
              $('#rloader' + id ).show();
               $('#rsubmit' + id).attr('disabled','disabled');
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/reject_request/'+id).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                        Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'You Have Rejected The Request.',
                        'success'
                      ) ;
                           console.log( "done");
                      }else{
                    console.log("failed");
                     this.$swal(
                        'Error',
                        'Network Error.',
                        'error'
                      ) ;
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  }); 
           },
           acceptRequest(id){
             console.log("accepted");  
             console.log($('#loader' + id));
              $('#loader' + id ).show();
               $('#submit' + id).attr('disabled','disabled');
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/accept_request/'+id).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                        Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'You Have Accepted The Request.',
                        'success'
                      ) ;
                           console.log( "done");
                      }else{
                    console.log("failed");
                    this.$swal(
                        'Error',
                        'Network Error.',
                        'error'
                      ) ;
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });  
           },
             getNewRequest(){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/getrequests').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.requests = response.data.jobs;
                           this.accepted_requests = response.data.accepted_requests;
                           this.rejected_requests = response.data.rejected_requests;
                           this.all_requests = response.data.all_requests;
                           this.completed_requests = response.data.completed_requests;
                           this.request_count =  _.size(this.requests);
                           console.log(  _.size(this.requests) );
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             },
             verify(){
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/artisan/verify').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           console.log("artisan status verified");
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++");

                    //  window.location.href = '/login'; 

                  });   
           },
           validateArtisan(){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/artisan/validate').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           console.log("artisan payment and active status verified");
                      }else{
                    console.log("artisan status not verified");
                     window.location.href = '/artisandata'; 
                      }
                     
                    }).catch(err => {

                    //  window.location.href = '/login'; 

                  });    
           }
       
      },
        mounted() {
         let $userStatus = localStorage.getItem('status');
         console.log("artisan dash");
         console.log($userStatus);
        if($userStatus != null && $userStatus == 0){
          window.location.href = '/artisandata'; 
        }
        this.verify();
        this.validateArtisan();
        this.getNewRequest();
         Fire.$on('reload', () => {
            this.getNewRequest();
           
          })
          
        }
    }
</script>
