 <template>
<div >
         <div class="container">
              <div class="row">
                 
                  <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-heading">
                            <h3 class="card-title">Artisan Data</h3>
                           
                        </div>
                        <div class="card-body">
                          <p style="color : red" v-if="data.payment_status == 0" >Please Make Payment to Activate Your Profile <button   class="btn btn-info btn-sm" v-on:click.prevent =  "viewpamentPortal()" >
                                                 <i class="fas fa-credit-card"></i>
                                                  Make Payment
                                              </button></p>
                          <p v-if="data.payment_status == 1" class="alert alert-info">Payment Status: PAID</p>
                          <p v-if="data.payment_status == 2" class="alert alert-warning">Payment Status: Pending Payment Verification <button   class="btn btn-info btn-sm" v-on:click.prevent =  "viewpamentPortal()" >
                                                 <i class="fas fa-eye"></i>
                                                  Payment Details
                                              </button></p>
                          <p class="alert alert-info" v-if="data.status != 'rejected'">Profile Status: {{data.status}}</p>
                           <div v-else>
                            
                          <p class="alert alert-danger" >Profile Status: {{data.status}}</p>
                           <h6>Querries</h6>
                           <p  v-for="querry in querries" :key="querry.id"><span style="color: red">{{querry.message}}</span><span class="badge badge-info">{{querry.status}}</span><span>{{querry.created_at}}</span></p> 
                            <hr class="alert-danger">
                           </div>
                            <form class="form-horizontal" role="form" id="artisanForm"  enctype="multipart/form-data"   @submit.prevent="savedata()">

                           <div class="row">
                                    <div class="col-md-12">
                                <hr class="alert-warning">
                                <h6>User Data</h6>
                                <hr class="alert-warning">
                                </div>
                                <div class="col-md-6">

                                <br>
                                <label for="">Phone Number*</label>
                                    <input class="form-control" required="" name="phone" v-model="data.phone_number" placeholder="Phone Number*" type="text">
                                <br> 
                                    <label for="">Profile Picture*</label>
                                    <input type="file" name="file_profile"  class="form-control" placeholder="">
                                    <img :src="'/storage/profile/' + data.profile_image" alt="" style="height: 150px ; width:150px">
                                    <br>
                                    <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Skills</label>
                                                <select required  v-model="data.skill_id"  name="skill_id" class="form-control rounded-pill" readonly="">
                                                  <option v-for="skill in skills" :key="skill.id" :value="skill.id">{{skill.name}}</option>
                                                </select>
                                </div>
                                <hr class="alert-warning">
                                 </div>
                                <!--end col-md-6-->
                                                                  <!--begin col-md-6-->
                                <div class="col-md-6">

                                    <br>
                                    <label for="">Address*</label>
                                    <textarea class="form-control" v-model="data.address" required="" name="address"  type="text"></textarea>
                                     <br>   
                                    <div class="form-group">
                                                 <label class="small text-gray-600" for="leadCapEmail">Gender</label>
                                                <select v-model="data.gender"  required   name="gender" class="form-control rounded-pill">
                                                   <option value="Male">Male </option>     
                                                   <option value="Female" > Female</option>     
                                                     
                                                </select>
                                
                                </div>
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <input type="text" id="datepicker" v-model="data.date_of_birth" name="date_of_birth" class="form-control" required placeholder="Choose">
                                </div>
                                </div>
                                
                                <div class="col-md-12"><hr class="alert-warning"> </div>
                                <div class="col-md-6">
                               <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">State</label>
                                  <select required v-on:change = "selectareas()" name="state" id="areaselect"  v-model="data.state_id" class="form-control rounded-pill">
                                    <option v-for="state in states" :key="state.id" :value="state.id"> {{state.name}} </option>     
                                 </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                 <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Area</label>
                                                <select   required name="area" id="areaselect"  v-model="data.area_id" class="form-control rounded-pill">
                                                   <option v-for="area in area_selected" :key="area.id" :value="area.id"> {{area.name}} </option>     
                                                     
                                                </select>
                                   </div>
                                </div>
                                
                                <div class="col-md-12">
                                <hr class="alert-warning">
                                <h6>Bank Details</h6>
                                <hr class="alert-warning">
                                </div>

                                 <div class="col-md-6">
                                 <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Bank Name*</label>
                                 <select required v-model="data.account_name" name="bank_name" id="bank1"  class="form-control rounded-pill">
                                      <option v-for="bank in banks" :key="bank.id" :value="bank.name">{{bank.name}}</option>
                                      </select>
                                            </div>
                                            
                                 </div>               
                                <div class="col-md-6">
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Account Number*</label>
                                  <input required v-model="data.account_number" type="number" class="form-control" name="account_number"  >
                                </div>
                                </div>

                                <div class="col-md-12">
                                <hr class="alert-warning">
                                <h6>Garantor Details</h6>
                                <hr class="alert-warning">
                                </div>
                                 <div class="col-md-6">
                                 <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Guarantor Name*</label>
                                    <input  required type="text" class="form-control"  v-model="data.guarantor" name="guarantor" >
                                    </div>
                                    <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Guarantor Profile Picture*</label>
                                    <input    type="file" class="form-control" name="file_guarantor_profile">
                                    <img :src="'/storage/profile/' + data.guarantor_profile" alt="" style="height: 150px ; width:150px">

                                    </div>
                                 </div>  
                                 <div class="col-md-6">
                                 
                                    <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Guarantor Phone Number*</label>
                                    <input  required type="number" class="form-control" v-model="data.guarantor_number" name="guarantor_number" >
                                    </div>
                                    <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Guarantor Valid ID*</label>
                                    <input   type="file" name="file_guarantor_id" class="form-control"  >
                                    <img :src="'/storage/ids/' + data.guarantor_id" alt="" style="height: 150px ; width:150px">

                                    </div>
                                 </div> 
                                <div class="col-md-12">
                                <hr class="alert-warning">
                                <h6>User Valid ID Details</h6>
                                <hr class="alert-warning">
                                </div>
                                <div class="col-md-6">
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">ID Type</label>
                              <select v-model="data.id_type"  required name="id_type"    class="form-control rounded-pill">
                                <option   value="Drivers licence">Drivers licence</option>    
                                <option   value="Pvc">Pvc</option>     
                                <option   value="National ID"> National ID</option>     
                                <option   value="International passport">International passport</option>     
                               </select>
                               </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">ID Number</label>
                                            <input v-model="data.id_number"  required type="text" name="id_number" class="form-control"  >
                                   </div>    
                                    <label for="">Select the image</label>
                                    <input   type="file"  name="file_id" />
                                    <img :src="'/storage/ids/' + data.artisan_id" alt="" style="height: 150px ; width:150px">

                              </div>
                            <div class="col-md-12"><hr class="alert-warning"> </div>
                            <br>
                            <div class="col-md-4 offset-4"><button class="btn btn-success" id="savedata" v-if="data.status != 'approved'">Save Data</button></div>
                                
                           </div>
                           
                              
                            </form>

                          
                        </div>
                    </div>
                  </div>
              </div>
   <div class="modal fade"   id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Payment Portal  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
         <h6 class="alert alert-success">Your Registration Fee is ₦{{amount}}</h6>
         <div class="row">
           <div class="col-md-6" v-if="data.payment_status == 0">
             <paystack
            :amount="amount * 100"
            :email="email"
            :paystackkey="PUBLIC_KEY"
            :reference="reference"
            :callback="processPayment"
            :close="close"
          >
       <button id="cardpay" class="btn btn-success "><i class="fas fa-credit-card"></i>   Pay With Card</button> 
        </paystack>
           </div>
           <div class="col-md-6">
             <a href="" class="btn btn-warning" v-on:click.prevent = "flipdbt()">Direct Bank Transfer</a>
           </div>
         </div>
        <div v-if="dbt">
           <hr class="alert-success">
         <h6 class="alert alert-info">Make Payment to the Account bellow and Upload a proof of Payment</h6>
          <div class="row">
            <div class="col-md-8">
                <h4 style="color:green"> Account Name : Empire klassic</h4>
              <h4 style="color:green">Bank Name : GT BANK</h4>
              <h4 style="color:green">Account Number : 0460328585 </h4>
            </div>
            <div class="col-md-4">
            <label for="">Amount to be paid: ₦{{amount}}</label>
              <label for="">Upload Proof of Payment</label>
              <input type="file" name="" id="fileproof">
              <hr>
              <button v-on:click.prevent = "uploadProof()" class="btn btn-info" id="submit">Upload</button>
            </div>
           
          </div>
        <hr class="alert-warning">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">proof </th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="proof in proofs" :key="proof.id">
      <th scope="row">id{{proof.id}}</th>
      <td><img :src="'/storage/proof/' + proof.image_name"  style="height:150px ; width:150px" /></td>
      <td>{{proof.amount}}</td>
      <td>{{proof.created_at}}</td>
      <td>{{proof.status}}</td>
    </tr>
 
  </tbody>
</table>
        </div>

         </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
  <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Upload Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
        <form action="" @submit.prevent="uploadprofile()">

      <div class="modal-body">
            <label for="">Select the image</label>
             <input required  type="file" id="file" name="file" />
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-primary" >Upload</button>
      </div>
        </form>
    </div>
  </div>
</div>
          </div>
</div>
</template>
<script>
    
    import paystack from 'vue-paystack';
    export default {
    name: "dashboard",
    components: {
          paystack
        },
            data(){
        return {
          PUBLIC_KEY: 'pk_live_52dfdb0ad6a000d0467fbc2596831c9ecca41175',
          amount : 1000,
          dbt: false,
          email: '',
          data: {},
          skills: [],
          areas: [],
          area_selected: [],
          states: [],
          querries: '',
          token: '',
          proofs: [],
          banks: [
    { "id": "1", "name": "Access Bank" ,"code":"044" },
    { "id": "2", "name": "Citibank","code":"023" },
    { "id": "3", "name": "Diamond Bank","code":"063" },
    { "id": "4", "name": "Dynamic Standard Bank","code":"" },
    { "id": "5", "name": "Ecobank Nigeria","code":"050" },
    { "id": "6", "name": "Fidelity Bank Nigeria","code":"070" },
    { "id": "7", "name": "First Bank of Nigeria","code":"011" },
    { "id": "8", "name": "First City Monument Bank","code":"214" },
    { "id": "9", "name": "Guaranty Trust Bank","code":"058" },
    { "id": "10", "name": "Heritage Bank Plc","code":"030" },
    { "id": "11", "name": "Jaiz Bank","code":"301" },
    { "id": "12", "name": "Keystone Bank Limited","code":"082" },
    { "id": "13", "name": "Providus Bank Plc","code":"101" },
    { "id": "14", "name": "Polaris Bank","code":"076" },
    { "id": "15", "name": "Stanbic IBTC Bank Nigeria Limited","code":"221" },
    { "id": "16", "name": "Standard Chartered Bank","code":"068" },
    { "id": "17", "name": "Sterling Bank","code":"232" },
    { "id": "18", "name": "Suntrust Bank Nigeria Limited","code":"100" },
    { "id": "19", "name": "Union Bank of Nigeria","code":"032" },
    { "id": "20", "name": "United Bank for Africa","code":"033" },
    { "id": "21", "name": "Unity Bank Plc","code":"215" },
    { "id": "22", "name": "Wema Bank","code":"035" },
    { "id": "23", "name": "Zenith Bank","code":"057" }
]
            
        }
        },
            computed: {
         reference() {
          let text = "";
          let possible =
            "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
          for (let i = 0; i < 10; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
          return text;
        }
      },
       methods: {
         processPayment() {
           
            $('#cardpay').attr('disabled','disabled');
          $('#cardpay').text('Processing...');
           console.log('payment recieved');
           
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
            var fd = new FormData();
            console.log(this.reference);
              fd.append('reference',this.reference);
              fd.append('amount',this.amount);
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/regpayment/card',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Payment SuccessFul.',
                        'success'
                      ) ;
                     }
                     else if(response.data.code == 404){
                      
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: response.data.error,
                    })
                     
                     }
                     else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                       $('#cardpay').text('Pay With Card');
                      $('#cardpay').removeAttr('disabled');
                     Fire.$emit('reload');
                     $('#payment').modal('hide');
                     
                    }).catch(err => {
                        $('#cardpay').text('Pay With Card');
                      $('#cardpay').removeAttr('disabled');
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                  this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
            },
            close: () => {
            console.log("You closed checkout page")
            },
            flipdbt(){
            this.dbt =!this.dbt;
            },
         viewpamentPortal(){
           this.email =localStorage.getItem('email');
           console.log(this.reference)
               $('#payment').modal('show');
         },
         showupload(){
                $('#uploadmodal').modal('show');
         },
         uploadProof() {
               if (!($('#fileproof').get(0).files.length === 0) ) {
                  $('#submit').attr('disabled','disabled');
                    $('#submit').text('Processing...');
              var fd = new FormData();
              var files = $('#fileproof')[0].files[0];
              fd.append('file',files);
              fd.append('amount',this.amount);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/regpayment/dbt',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Proof Uploaded.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#submit').text('Save Data');
                      $('#submit').removeAttr('disabled'); 
                     Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                      $('#submit').text('Save Data');
                      $('#submit').removeAttr('disabled'); 

                  }); 
               }else{
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select an image and enter Amount',
                    })
               } 
            },
           selectareas(){
               console.log(this.data.state_id)
              let  count = 0;
              this.area_selected = [];
              this.areas.forEach(area => {
                  if(area.state_id == this.data.state_id){
                      this.area_selected[count] = area;
                      count++;
                  }
              }); 
           },
       getData(){
            console.log('here o');            
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/artisan').then((response) => {
                 console.log('here o');
                    console.log( response.data.artisandata);
                       
                      if(response.data.artisandata != ""){
                       this.data = response.data.artisandata;
                      }
                       this.querries = response.data.querries;
                       this.proofs = response.data.proofs;
                       this.skills = response.data.skills;
                       this.areas = response.data.areas;
                       this.states = response.data.states;
                       this.selectareas();
                  console.log('here o');
                        console.log(this.data);
                        console.log(this.skills);
                        console.log(this.areas);
                        console.log(this.states);
                     
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
       },
       savedata(){
           
            $('#savedata').attr('disabled','disabled');
          $('#savedata').text('Processing...');
         this.token = "Bearer "  + localStorage.getItem('access_token');
                      
        var form = $('#artisanForm')[0];
            // Create an FormData object 
            var data = new FormData(form);
            console.log(data);
            $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/api/artisan/updateArtisan",
            contentType: "application/json",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
             beforeSend: function (xhr) {
        /* Authorization header */
                  xhr.setRequestHeader("Authorization", "Bearer "  + localStorage.getItem('access_token'));
                  xhr.setRequestHeader("X-Mobile", "false");
              },
            success: function (data) {

        if(data.code == "200"){
            swal("Success!", "Your Artisan Data Update is successfull, Please Wait for Approval", "success"); 
            window.location.reload(true);
       }else{
    
            swal("Error!", 'Data  Update Error', "error"); 

       
       }     $('#savedata').text('Save Data');
              $('#savedata').removeAttr('disabled'); 
            },
            error: function (e) {
                console.log(e)
            $('#savedata').text('Save Data');
              $('#savedata').removeAttr('disabled');
            swal("Error!", e.responseJSON.message, "error"); 
            $('#loader1').hide();
             $('#submit1').removeAttr('disabled');


            }
        });
          Fire.$emit('reload');
       },
       saveData(){

         
            console.log( $('#dob').val());
            this.data.date_of_birth =  $('#dob').val();
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/setdata', this.data).then((response) => {
                       console.log( response.data);
                       
                        if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Data Updated.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });
       }
      },
        mounted() {
            console.log('how fa na');
          this.getData();
          
            $( "#datepicker" ).datepicker();

            Fire.$on('reload', () => {
            this.getData();
           
          })
        }
    }
</script>