<template>
<div >
        <section id="main-content" class="animated fadeInUp">
                <div class="row" id="pending" >
                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-heading">
                                <h3 class="card-title">Skills  Table</h3>
                              <button class="btn btn-info" v-on:click="skillsmode()"> Add Skills</button>
                              
                                
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Background Image</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="skill in data" :key="skill.id">
                                            
                                            <td>{{skill.id}}</td>
                                            <td>{{skill.name}}</td>
                                            <td></td>
                                            <td>
                                                <span v-if="skill.status == '1'">Active <button v-on:click.prevent = "flipskills(skill.id)" class="btn btn-warning">Deactivate</button> </span>
                                                <span v-if="skill.status == '0'">Inactive<button v-on:click.prevent = "flipskills(skill.id)" class="btn btn-success">Activate</button></span>

                                            </td>
                                            <td><button class="btn btn-info" v-on:click.prevent = "deleteskills(skill.id)">Delete</button></td>
                                        
                                           
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                        <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-heading">
                                <h3 class="card-title">States  Table</h3>
                              <button class="btn btn-info" v-on:click="statemode()"> Add State</button>
                              
                                
                            </div>
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="state in states" :key="state.id">
                                            
                                            <td>{{state.id}}</td>
                                            <td>{{state.name}}</td>
                                            <td>
                                                  <span v-if="state.status == '1'">Active <button v-on:click.prevent = "flipstate(state.id)" class="btn btn-warning">Deactivate</button> </span>
                                                <span v-if="state.status == '0'">Inactive<button v-on:click.prevent = "flipstate(state.id)" class="btn btn-success">Activate</button></span>

                                            </td>
                                            <td><button class="btn btn-info" v-on:click.prevent = "deletestate(state.id)">Delete</button></td>
                                        
                                           
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                        <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-heading">
                                <h3 class="card-title">Areas  Table</h3>
                              <button class="btn btn-info" v-on:click="areamode()"> Add Area</button>
                                
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>State</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="area in areas" :key="area.id">
                                            
                                            <td>{{area.id}}</td>
                                            <td>{{area.name}}</td>
                                            <td>{{area.state_name}}</td>
                                            <td>
                                                 <span v-if="area.status == '1'">Active <button v-on:click.prevent = "fliparea(area.id)" class="btn btn-warning">Deactivate</button> </span>
                                                <span v-if="area.status == '0'">Inactive<button v-on:click.prevent = "fliparea(area.id)" class="btn btn-success">Activate</button></span>

                                                
                                            </td>
                                            <td><button class="btn btn-info" v-on:click.prevent = "deletearea(area.id)">Delete</button></td>
                                        
                                           
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                  
            </section>
            <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
     
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
          <div  v-if="addskillmode">
     <form action="" @submit.prevent= "addskill()">
        
        <div class="form-group">
            <label for="">Skills Name</label>
           <input type="text" class="form-control" v-model="skill_name" required>
        </div>
        <div class="form-group">
                    <label for="">Skills image</label>
                    <input required class="form-control"   type="file" id="file" name="file"  />
                </div>
        <button class="btn btn-info">Add Skills</button>
              </form> 
              </div> 
              <div v-else>
                       
          <form action="" v-if="!addstatemode">
        <div class="form-group">
            <label for="">Select State</label>
               <select class="form-control" name="" id="" v-model="state_id">
                <option v-for="state in states"  :key="state.id" :value="state.id">{{state.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Area Name</label>
           <input type="text" class="form-control" v-model="area">
        </div>
        <button class="btn btn-info" v-on:click.prevent="addarea()">Add Area</button>
              </form>   
                <form action="" v-else>
       
        <div class="form-group">
            <label for="">State Name</label>
           <input type="text" class="form-control" v-model="state">
        </div>
        <button class="btn btn-info" v-on:click.prevent="addstate()">Add State</button>
              </form>  
              </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
        states: [],
        areas:[],
        data: [],
        area: "",
        state: "",
        state_id: "",
        skill_name: "",
        addstatemode: false,
        addskillmode: false,
        }
        },
       methods: {
            skillsmode(){
            this.addskillmode = true;
             $('#uploadmodal').modal('show');
            },
           statemode(){
               this.addstatemode = true;
               this.addskillmode = false;

               this.state = "";
                  $('#uploadmodal').modal('show');

               
           },
           addstate(){
             
               
            if(this.state == ""){
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please provide State Data',
                    }) 
            }else{
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/addstate',{ "state" : this.state }).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'State Added Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                  //  window.location.href = '/signin';
 

                  }); 
            }
           },
           areamode(){
               this.addstatemode = false;
               this.addskillmode = false;

               this.area = "";
               this.state_id = "";
                  $('#uploadmodal').modal('show');
           },
        addskill(){

            var fd = new FormData();
              var files = $('#file')[0].files[0];
              fd.append('file',files);
              fd.append('skill_name',this.skill_name);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/addskill',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Proof Uploaded.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  });   
           },
           addarea(){
               
        if(this.area == "" || this.state_id == ""){
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select a State and provide Area Name',
                    }) 
            }else{
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/addarea',{ "state_id" : this.state_id , "area": this.area }).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'Area Added Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
            }
           },
           deletestate(state_id){
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/deletestate',{ "state_id" : state_id  }).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'State Deleted Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  });      	
           },
           deletearea(area_id){
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/deletearea',{ "area_id": area_id }).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'Area Deleted Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           deleteskills(skill_id){
                  this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/deleteskill',{ "skill_id": skill_id }).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'Skills Deleted Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  });   
           },
            flipstate(state_id){
                     this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/flipstate',{ "state_id":state_id }).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'State Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           fliparea(area_id){
                        this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/fliparea',{ "area_id": area_id }).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'Area Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           flipskills(skill_id){
                        this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/flipskill',{ "skill_id": skill_id }).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'State Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           
           getrequests(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/skills').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.data = response.data.skills;
                           this.areas = response.data.areas;
                           this.states = response.data.states;
             
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getrequests();
            setTimeout(()=> {

              $('#example1').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            $('#example2').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
           $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000); 
            // this.TimerEvents =  setInterval(function () {
            //       $('#example1').dataTable();
            //       $('#example2').dataTable();
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getrequests();
           
          })
        }
        
    }
</script>