<template>
<div >
        <section  class="content ">
                <div class="row">
                    <div class="col-md-12">
                       <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Product Categories
                                  <button class="btn btn-success btn-sm" v-on:click="openaddCategory()"><i class="fas fa-plus"></i>Category</button>
                                  </h3>
                               
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>image</th>
                                            <th>Description</th>
                                            <th>status</th>
                                            <th>Action</th>
                                           
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="category in categories" :key="category.id">
                                            <td>{{category.id}}</td>
                                            <td>{{category.name}}</td>
                                            <td><img :src="'/storage/category/' + category.image" style="width:100px ; hieght:100px" alt=""></td>
                                            <td>{{category.description}}</td>
                                            <td v-if="category.status == '1'">
                                                <span  class="badge badge-success">active</span>
                                                <button class="btn btn-warning btn-sm" v-on:click="flipstatus(category.id)">deactivate</button>
                                            </td>
                                            <td v-else>
                                                <span  class="badge badge-danger">inactive</span>
                                                <button class="btn btn-success btn-sm" v-on:click="flipstatus(category.id)">activate</button>

                                            </td>

                                            <td>
                                                <button class="btn btn-success btn-sm" v-on:click="openeditCategory(category)"><i class="fas fa-edit"></i> edit </button>
                                                <button class="btn btn-success btn-sm" v-on:click="opensubcategory(category)"><i class="fas fa-edit"  ></i>manage subcategories </button>
                                                <button class="btn btn-danger btn-sm" v-on:click="deletedata('category' , category.id)"><i class="fas fa-times"  ></i>delete </button>
                                            
                                            </td>
                                            
                                            
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
<div class="modal fade"   id="addcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog " role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="add">Add Category</h5>
        <h5 class="modal-title" id="exampleModalLongTitle" v-else>Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
         <form action=""  v-on:submit.prevent = "createCategory()">
             <label for="">Name</label>
             <input type="text" class="form-control" v-model="setcategory.name" required>
            <label for="">Description</label>
           <textarea name="" id="" class="form-control" v-model="setcategory.description" required></textarea>
           <label for="">Category Barner</label>
           <input type="file" name="" accept="image/*" id="fileimage" class="form-control">
           <hr>
           <img v-if="!add" :src="'/storage/category/' + setcategory.image" style="width: 300px ; height:160px" alt="">
           <hr>
           <br>
          <button v-if="add" class="alert alert-warning" type="submit" id="add" ><i class="fas fa-add"></i> <span id="addtext">Add Category</span> </button>
          <button v-else class="alert alert-warning" type="submit" id="add" ><i class="fas fa-add"></i> <span id="addtext">Edit Category</span> </button>
         
         </form>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade"   id="subcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" >{{setcategory.name}} Sub Categories</h5>
    <button class="btn btn-success btn-sm" v-on:click="createsubcategory()"><i class="fas fa-plus"></i>Add SubCategory</button>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
        </button>
      </div>

            
       <div class="modal-body" v-if="setcategory != {}">
           <div v-if="addsubcategory">
               <hr>
               <form action=""  v-on:submit.prevent = "sendaddSubcategory()">
                <label for="">Sub Category Name</label>
                <input type="text" class="form-control" v-model="setsubcategory.name" required />
                <br>
                <button v-if="addsub" class="alert alert-warning" type="submit" id="addsub"   ><i class="fas fa-add"></i> <span id="addsubtext">Add Category</span> </button>
                <button v-else class="alert alert-warning" type="submit" id="addsub"  ><i class="fas fa-add"></i> <span id="addsubtext">Edit Category</span> </button>
         
               </form>
                
           <hr>
           </div>
           
           <h4 class="alert alert-dark">Sub Categories</h4>
           <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>status</th>
                                            <th>Action</th>
                                           
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="subcategories in setcategory.subcategories" :key="subcategories.id">
                                            <td>{{subcategories.id}}</td>
                                            <td>{{subcategories.name}}</td>
                                            
                                            <td v-if="subcategories.status == '1'">
                                                <span  class="badge badge-success">active</span>
                                                <button class="btn btn-warning btn-sm" v-on:click="flipstatussub(subcategories.id)">deactivate</button>
                                            </td>
                                            <td v-else>
                                                <span  class="badge badge-danger">inactive</span>
                                                <button class="btn btn-success btn-sm" v-on:click="flipstatussub(subcategories.id)">activate</button>

                                            </td>

                                            <td>
                                                <button class="btn btn-info btn-sm" v-on:click = "editsubcategory(subcategories)"><i class="fas fa-edit"></i>edit </button>
                                                <button class="btn btn-danger btn-sm" v-on:click="deletedata('subcategory' , subcategories.id)"><i class="fas fa-edit"></i>delete </button>
                                            
                                            </td>
                                            
                                            
                                        </tr>
                                       
                                    </tbody>
                                </table>

         
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

</div>
</template>

<script>
    
    export default {
    name: "categoryus",
            data(){
        return {
         categories: [],
         setcategory: {}, 
         setsubcategory: {}, 
         add: true,
         resp: '',
         address: '',
         addsubcategory:false,
        }
        },
       methods: {
           openaddCategory(){
               this.add = true
               this.setcategory = {};
               $('#addcategory').modal('show');
           },
           opensubcategory(category){
               console.log('here 0');
               this.setcategory = category;
               $('#subcategory').modal('show');
           },
           createsubcategory(){
                this.addsub = true;
               this.addsubcategory = !this.addsubcategory;
           },
           editsubcategory(subcategory){
               this.addsubcategory = true;
               this.addsub = false;
               this.setsubcategory = subcategory;
           },
           openeditCategory(category){
               this.add = false
               this.setcategory = category;
               $('#addcategory').modal('show');
           },
           sendaddSubcategory(){
               $('#addsub').attr('disabled','disabled');
                $('#addsubtext').text('Processing...');
              var fd = new FormData();
              fd.append('name',this.setsubcategory.name);
              fd.append('category_id',this.setcategory.id);
             if(this.addsubcategory){
                 this.address = '/api/subcategory/create'; 
                 this.resp = 'SubCategory Created Successfully.'; 
             }else{
                  this.address = '/api/subcategory/edit'; 
                 this.resp = 'SubCategory Edited Successfully.'; 
                 fd.append('category_id',this.setcategory.id);
             }
 
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post(this.address,fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                        setTimeout(() => {
                           this.refreshmodal()
                       } ,500)
                         this.$swal(
                        'Successful',
                        this.resp,
                        'success'
                      ) ;
                      this.setsubcategory = {}
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#addsubtext').text('Add Category');
                      $('#addsub').removeAttr('disabled'); 
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                     $('#addsubtext').text('Add Category');
                      $('#addsub').removeAttr('disabled'); 

                  });  
           },
           createCategory(){
                $('#add').attr('disabled','disabled');
                $('#addtext').text('Processing...');
              var fd = new FormData();
              fd.append('name',this.setcategory.name);
              fd.append('description',this.setcategory.description);
             if(this.add){
                 this.address = '/api/category/create'; 
                 this.resp = 'Category Created Successfully.'; 
             }else{
                  this.address = '/api/category/edit'; 
                 this.resp = 'Category Edited Successfully.'; 
                 fd.append('category_id',this.setcategory.id);
             }
 if (!($('#fileimage').get(0).files.length === 0) ) {
                 
              var files = $('#fileimage')[0].files[0];
              fd.append('image',files);
              
               }
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post(this.address,fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        this.resp,
                        'success'
                      ) ;
                      this.setcategory = {};
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     $('#addcategory').modal('hide');
                      $('#addtext').text('Add Category');
                      $('#add').removeAttr('disabled'); 
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                     $('#addtext').text('Add Category');
                      $('#add').removeAttr('disabled'); 

                  }); 
           },
           refreshmodal(){
               this.categories.forEach(category => {
                   if(category.id == this.setcategory.id )
                   this.setcategory = category;
               });
           },
           flipstatussub(id){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/subcategory/flipState/' + id).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                       setTimeout(() => {
                           this.refreshmodal()
                       } ,500)
                         this.$swal(
                        'Successful',
                        'SubCategory Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           flipstatus(id){
                  this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/category/flipState/' + id).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Category Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
             deletedata(type, id){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                        let address = "";
                    if(type == 'category'){
                        address = '/api/category/delete/' + id;
                    }else{
                       address = '/api/subcategory/delete/' + id; 
                    }
                // localStorage.setItem('access_token', data.access_token);
               axios.get(address).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         setTimeout(() => {
                           this.refreshmodal()
                       } ,500)
                        
                         this.$swal(
                        'Successful',
                        type+'  deleted Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           getcontacts(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/category').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.categories = response.data.categories;
                        
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getcontacts();
               setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getcontacts();
           
          })
        }
        
    }
</script>