<template>
<div >
        <section  class="content ">
                <div class="row">
                    <div class="col-md-12">
                       <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Contact Us Messages 
                                  
                                  </h3>
                               
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Message</th>
                                            <th>Date</th>
                                           
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="contact in contacts" :key="contact.id">
                                            <td>{{contact.id}}</td>
                                            <td>{{contact.name}}</td>
                                            <td>{{contact.email}}</td>
                                            <td>{{contact.message}}</td>
                                            <td>
                                            {{contact.created_at}}
                                            </td>
                                            
                                            
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

</div>
</template>

<script>
    
    export default {
    name: "contactus",
            data(){
        return {
         contacts: [],
           
        }
        },
       methods: {
       
           getcontacts(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/getcontactus').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.contacts = response.data.contacts;
                        
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getcontacts();
               setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getcontacts();
           
          })
        }
        
    }
</script>