<template>
<div >
        <section  class="content ">
                <div class="row">
                    <div class="col-md-12">
                       <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Add A New AD 
                                  
                                  </h3>
                              
                               
                            </div>
                            <div class="card-body">
                                <form action="" v-on:submit.prevent="createProduct()" enctype="multipart/form-data">
                                   <hr class="alert-dark">
                               <div class="form-group">
                                   <div class="row">
                                       <div class="col-md-6">
                                           <label for="">Select Category</label>
                                           <select name="category_id" id="" class="form-control" v-model="data.category_id"  v-on:change="setSubCategories()"  required> 
                                            <option class="alert alert-default"   :value="category.id" v-for="category in categories" :key="category.id">{{category.name}} </option>

                                           </select>
                                       </div>
                                       <div class="col-md-6">
                                           <label for="">Select Sub Category</label>

                                           <select name="subcategory_id" id=""  class="form-control" v-model="data.subcategory_id"  v-on:change="setProperties()" required> 
                                            <option class="alert alert-default"  :value="subcategory.id" v-for="subcategory in subcategories" :key="subcategory.id">{{subcategory.name}} </option>

                                           </select>
                                       </div>
                                       <div class="col-md-6">
                                           <hr class="alert-warning">
                                           <label for="">Images</label>
                                           <input type="file" name="file[]" id="file" accept="image/*" required multiple>
                                       </div>
                                       <div class="col-md-6">
                                           <hr class="alert-warning">
                                           <label for="">Title</label>
                                           <input type="text" name="title" id="" v-model="data.title" class="form-control" required>
                                           <hr class="alert-warning">
                                           <label for="">Ad Type</label>
                                           <select name="type" id="" class="form-control" v-model="data.type">
                                               <option class=" alert-info" value="free" >Free Mode (active for one week)(₦0)</option>
                                               <option class=" alert-info" value="standard">Standard (active for Two weeks)(₦2,000)</option>
                                               <option class=" alert-info" value="premium">Premium (active for one month)(#3,500)</option>
                                           </select>
                                       </div>
                                       <div class="col-md-6">
                                           <hr class="alert-warning">
                                           <label for="">Price</label>
                                           <input type="number" v-model="data.price" name="price" class="form-control" id="">
                                       </div>
                                       <div class="col-md-6">
                                           <hr class="alert-warning">
                                           <label for="">Description</label>
                                           <textarea name="description" id="" v-model="data.description" class="form-control"></textarea>
                                       </div>
                                                   
                                          <div class="col-md-12"><hr class="alert-warning"> </div>
                                <div class="col-md-6">
                               <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">State</label>
                                  <select required v-on:change = "selectareas()" name="state" id="areaselect"  v-model="data.state_id" class="form-control rounded-pill">
                                    <option v-for="state in states" :key="state.id" :value="state.id"> {{state.name}} </option>     
                                 </select>
                                </div>
                                </div>
                                <div class="col-md-6">
                                 <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Area</label>
                                                <select   required name="area" id="areaselect"  v-model="data.area_id" class="form-control rounded-pill">
                                                   <option v-for="area in area_selected" :key="area.id" :value="area.id"> {{area.name}} </option>     
                                                     
                                                </select>
                                   </div>
                                </div>
                                         <div class="col-md-6" v-for="property in properties" :key="property.id">
                                             <hr class="alert-warning">
                                           <label for="" v-if="property.required == 'false'">{{property.name}}</label>
                                           <label for="" v-else>{{property.name}}*</label>
                                            <input v-if="property.type == 'text' && property.required == 'true' " required  type="text" class="form-control" v-model="property.value">
                                            <input v-else-if="property.type == 'text' && property.required == 'false' "  type="text" class="form-control" v-model="property.value">
                                            <select v-else-if="property.type == 'option' && property.required == 'true'" required name="" id="" class="form-control" v-model="property.value">
                                                <option v-for="option in property.options" :key="option.id" :value="option.name">{{option.name}}</option>
                                            </select>
                                            <select v-else-if="property.type == 'option' && property.required == 'false'"  name="" id="" class="form-control" v-model="property.value">
                                                <option v-for="option in property.options" :key="option.id" :value="option.name">{{option.name}}</option>
                                            </select>
                                          
                                       </div>
                                       <div class="row" v-if="user != '' "> 
                                         <div class="col-md-6">
                                            <hr class="alert-warning">
                                           <label for="">User Name</label>
                                           <input type="text" name="data.name" id="" readonly  :value="user.name" class="form-control" required>
                                           <hr class="alert-warning">
                                         </div>
                                         <div class="col-md-6">
                                            <hr class="alert-warning">
                                           <label for="">Phone Number</label>
                                           <input type="text" name="title" id="" readonly :value="user.data.phone_number" class="form-control" required>
                                           <hr class="alert-warning">
                                         </div>
                                       </div>
                           
                                      
                                   </div>
                               </div>
                                <div class="col-md-4 offset-4"> <hr>
                                <button class="btn btn-success btn-sm" v-if="data.type == 'free'" id="add"> <i class="fas fa-plus"></i><span id="addtext">add Product</span></button>
                                <button class="btn btn-success btn-sm" v-else id="add"> <i class="fas fa-plus"></i><span id="addtext">Make Payment</span></button>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
<div class="modal fade"   id="options" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog " role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="add">Options </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
           <hr>
           <label for="">Option Value</label>
           <input type="text" name="" id="" class="form-control" v-model="option_value">
           <br>
    <button class="btn btn-info btn-sm" v-on:click="addOption()" id="option"><i class="fas fa-plus"></i><span id="optiontext">add option</span></button>
        <hr>
         <table class="table table-bordered table-hover" cellspacing="0" width="100%">
             <thead>
                 <th>name</th>
                 <th>Action</th>
             </thead>
             <tr v-for="option in options" :key="option.id">
                 <th>{{option.name}}</th>
                 
                 <th>
              <button class="btn btn-danger btn-sm" v-on:click="deletedata('option', option.id)"><i class="fas fa-times"></i>delete</button>

                 </th>
             </tr>
         </table>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
            <div class="modal fade"   id="addproperty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog " role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="add">Add Property</h5>
        <h5 class="modal-title" id="exampleModalLongTitle" v-else>Edit Property</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
         <form action=""  v-on:submit.prevent = "sendAddProperty()">
             <label for="">Name</label>
             <input type="text" class="form-control" v-model="property.name" required>
            <label for="">Property type</label>
            <select name="" id="" class="form-control" v-model="property.type">
                <option value="option">Option</option>
                <option value="text">Text</option>
            </select>
            <hr>
            <p><label class="checkbox" style="margin-right : 30px">
                  <input type="checkbox" class="form-control" v-model="property.required" > Required
                </label> <label class="checkbox">
                  <input type="checkbox" class="form-control" v-model="property.status" > Active
                </label></p>
                
           <hr>
           
           <br>
          <button v-if="add" class="alert alert-warning" type="submit" id="add" ><i class="fas fa-add"></i> <span id="addtext">Add Property</span> </button>
          <button v-else class="alert alert-warning" type="submit" id="add" ><i class="fas fa-add"></i> <span id="addtext">Edit Property</span> </button>
         
         </form>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
 <div class="modal fade"   id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Payment Portal  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body" v-if="data.type">
         <h6 class="alert alert-success">Your Payment for {{data.type}} is ₦{{amount}}</h6>
         <div class="row">
           <div class="col-md-6" >
             <paystack
            :amount="amount * 100"
            :email="email"
            :paystackkey="PUBLIC_KEY"
            :reference="reference"
            :callback="processPayment"
            :close="close"
          >
       <button id="cardpay" class="btn btn-success "><i class="fas fa-credit-card"></i>Proceed To Make Payment </button> 
        </paystack>
           </div>
         
         </div>
 

         </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

</div>
</template>

<script>
    import paystack from 'vue-paystack';
    export default {
    name: "contactus",
     components: {
          paystack
        },
            data(){
        return {
            PUBLIC_KEY: 'pk_live_52dfdb0ad6a000d0467fbc2596831c9ecca41175',
          amount : 1000,
         categories: [],
         category: {},
         subcategory: {},
         properties: [],
         property: {},
         subcategories: [],
         category_id: '',
         area_selected:'',
         states: [],
         areas: [],
         subcategory_id: '',
         add: true,
         options:[],
         option_value: '',
         user:'',
          email: 'test@gmail.com',
         data: {},
        images: [] ,
         ad_status: false,
         ad_id: 0,
         paid:false,
        }
        },
         computed: {
   reference() {
          let text = "";
          let possible =
            "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
          for (let i = 0; i < 10; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
          return text;
        }
      },
       methods: {
          selectareas(){
               console.log(this.data.state_id)
              let  count = 0;
              this.area_selected = [];
              this.areas.forEach(area => {
                  if(area.state_id == this.data.state_id){
                      this.area_selected[count] = area;
                      count++;
                  }
              }); 
           },
             processPayment() {
            this.data.payment_reference = this.reference;
            this.data.amount = this.amount;
               $('#cardpay').attr('disabled','disabled');
               $('#cardpay').text('Processing...'); 
               this.paid = true;
                this.sendCreateProduct();
                
           
            },
            close: () => {
            console.log("You closed checkout page")
            },
           addPaymentData(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
            var fd = new FormData();
            console.log(this.reference);
              fd.append('reference',this.reference);
              fd.append('amount',this.amount);
              fd.append('product_id',this.ad_id);
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/adPayment/card',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Payment SuccessFul.',
                        'success'
                      ) ;
                     }
                     else if(response.data.code == 404){
                      
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: response.data.error,
                    })
                     
                     }
                     else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                       $('#cardpay').text('Pay With Card');
                      $('#cardpay').removeAttr('disabled');
                     Fire.$emit('reload');
                     $('#payment').modal('hide');
                     
                    }).catch(err => {
                        $('#cardpay').text('Pay With Card');
                      $('#cardpay').removeAttr('disabled');
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                  this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  });  
           },
         viewpamentPortal(){
          if(this.data.type == 'standard'){
            this.amount = 2000;
          }else if(this.data.type == 'premium'){
            this.amount = 3500;
          }
           
               $('#payment').modal('show');
         },
           refreshoptions(){
                 this.properties.forEach(property => {
                           if(property.id == this.property.id){
                               this.property = property;
                               this.options = property.options;
                           } 
                       });
           },
           viewOptions(property){
               this.property = property;
               this.options = property.options;
               $('#options').modal('show')
           },
           openCreateProperty(){
               this.add = true;
               this.property = {};
               this.property.required = true;
               this.property.status = true;
               this.property.type = 'text';
               $('#addproperty').modal('show');
           },
           openEditProperty(property){
               this.add = false;
               this.property = property;
               if(property.status == '0'){
                   this.property.status = false;
               }else{
                   this.property.status = true;
               }
                if(property.required == 'false'){
                   this.property.required = false;
               }else{
                   this.property.required = true;
               }
               $('#addproperty').modal('show');
           },
           sendAddProperty(){
            $('#add').attr('disabled','disabled');
                $('#addtext').text('Processing...');
              var fd = new FormData();
              fd.append('name',this.property.name);
              fd.append('type',this.property.type);
              fd.append('subcategory_id',this.subcategory.id);
              fd.append('required',this.property.required);
              if(this.property.status){
                   fd.append('status','1');
              }else{
                   fd.append('status','0');
              }
             if(this.add){
                 this.address = '/api/property/create'; 
                 this.resp = 'Property Created Successfully.'; 
             }else{
                  this.address = '/api/property/edit'; 
                 this.resp = 'Property Edited Successfully.'; 
                 fd.append('property_id',this.property.id);
             }

                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post(this.address,fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        this.resp,
                        'success'
                      ) ;
                     
                      $('#addproperty').modal('hide');
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     $('#addcategory').modal('hide');
                      $('#addtext').text('add product');
                      $('#add').removeAttr('disabled'); 
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                     $('#addtext').text('add product');
                      $('#add').removeAttr('disabled'); 

                  }); 
           },
           createProduct(){
             if(this.data.type == 'free'){
               this.sendCreateProduct();
             }
             else{
               this.viewpamentPortal();
             }
           },
            sendCreateProduct(){
             
                if (($('#file').get(0).files.length >= 3) ) {
               $('#add').attr('disabled','disabled');
                $('#addtext').text('Processing...');
              var fd = new FormData();
              let image_count = $('#file').get(0).files.length;
              console.log($('#file').get(0).files.length);
              let i = 0;
              this.images = []
              for(i = 0 ; i < image_count ; i++){
            fd.append('images[]', $('#file')[0].files[i]) ;
                  console.log( this.images[i]);
                 
              }
               const formdata = JSON.stringify( this.data);
              fd.append('data',formdata);
           
              if(this.properties.length != 0){
               const data = JSON.stringify( this.properties);
              fd.append('properties',data);

                }
              
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/product/create',  fd).then((response) => {
                     if(response.data.code == 200){
                       this.ad_id = response.data.ad_id;
                       this.ad_status = true;
                       
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Product Created Successfully',
                        'success'
                      ) ;
                      if(this.paid){
                        this.addPaymentData();
                        
                      }
                     setTimeout(() => {
                       window.location.href = '/admanagent';
                        } ,2000);
                     }else{
                        this.ad_status = false;
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#addtext').text('add product');
                      $('#add').removeAttr('disabled'); 
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                 this.ad_status = true;
                this.error = err.response.data; 
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '//admanagent';
                     $('#addtext').text('add product');
                      $('#add').removeAttr('disabled'); 

                  }); 
                }else{
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Upload Atleast 3 Images',
                    })
                }
            },
            setSubCategories(){
              this.category_id =  this.data.category_id;
                this.properties = [];
                this.subcategory = {};
                console.log(this.category_id);
                this.categories.forEach(category => {
                    if(category.id == this.category_id){
                        this.category = category;
                        this.subcategories = category.subcategories;
                    }
                });
            },
            setProperties(){
              this.subcategory_id =  this.data.subcategory_id;
               this.properties = [];
              console.log('setting prop')
                
                this.subcategories.forEach(subcategory => {
                    if(subcategory.id == this.subcategory_id){
                        this.subcategory = subcategory;
                        this.properties = subcategory.properties;
                    }
                });
            },
           getcontacts(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/createproduct/properties').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.categories = response.data.categories;
                           this.user  = response.data.user;
                           this.email = this.user.email;
                           this.areas = response.data.areas;
                            this.states = response.data.states;
                           this.category_id = this.categories[0].id;
                           this.subcategory_id = this.categories[0].subcategories[0].id;
                           this.setSubCategories();
                           
                        
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getcontacts();
               setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getcontacts();
           
          })
        }
        
    }
</script>