<template>
<div >
     
               
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
          name: "",
     
        }
        },
       methods: {
          
         loaddashboard(){
        }
        
      },
        mounted() {

           
             this.role = localStorage.getItem('role');
            console.log(this.role);
            if(this.role == 1 ){
            window.location.href = '/userdashboard';
            }else if(this.role == 2){
            window.location.href = '/admindashboard';

            }else if(this.role == 3){
            window.location.href = '/artisandashboard';
                
            }
            else if(this.role == 4){
            window.location.href = '/supervisordashboard';
                
            }
            //   this.TimerEvents =  setInterval(function () {
            //       this.loaddevices();
                  

            //     }.bind(this), 1000); 
            // console.log('Component mounted.');
        //      $('[data-toggle="tooltip"]').tooltip();
        //     Fire.$on('reload', () => {
        //     this.loaddevices();
           
        //   })
          
        },
         
    }
</script>
