<template>
    <div>
          <section class="content">
    <div class="row"> 
        <div class="col-md-4">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Chats</h3>
                <div class="row">

                    <div class="col-md-8"></div>
                    <div class="col-md-4">

                    </div>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0"  style=" height: 310px; overflow: auto;">
             
                <div class="table-responsive mailbox-messages">
                  <table class="table table-hover table-striped">
                    <tbody>
                    <tr v-for="chat in chats" :key="chat.id" v-on:click.prevent = "openchat(chat)">
                      <td>
                        {{chat.id}}
                      </td>
                      <td class="mailbox-name">{{chat.product.name}}</td>
                      <td v-if="chat.isSeller == '1'">User:<span class="badge badge-info">{{chat.user.name}} / {{chat.user.email}} </span></td>
                      <td v-else>Seller:<span class="badge badge-info">{{chat.seller.name}} / {{chat.seller.email}} </span></td>
                      <td class="mailbox-subject">
                              <span class="badge badge-info"><vue-moments-ago prefix="created" suffix="ago" :date="chat.created_at"></vue-moments-ago></span>
                      </td>
                      <!-- <td><span class="badge badge-success" v-if='chat.unread != "0"'>{{chat.unread}}</span></td> -->
                    </tr>
                    
                    </tbody>
                  </table>
                  <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
              </div>
           
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-8">
            <div class="card card-primary card-outline" v-show="chat != ''">
              <div class="card-header">
  
              </div>
              <!-- /.card-header -->
              <div id="chat" class="card-body p-0" style='overflow:scroll;overflow-x:hidden;max-height:500px;' >
               <div v-for="message in messages" :key="message.id">
                    <div class="mailbox-read-info alert alert-dark" >
                  <h6>
                      <span v-if="chat.seller_id == message.user_id" style="color: red">Seller: {{chat.seller.name}}</span>
                      <span v-else style="color: green">USer: {{chat.user.name}}</span>
                      
                    <span class="mailbox-read-time float-right alert alert-warning">{{message.created_at}}</span></h6>
                </div>
                <!-- /.mailbox-read-info -->
             
                <!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                
  
                  <p>{{message.message}} </p>
  
                </div>
               </div>
               
                <!-- /.mailbox-read-message -->
              </div>
              <!-- /.card-body -->
             
              <!-- /.card-footer -->
              <div class="card-footer" v-if="chat.status != 'Closed'">
                <p>
                <textarea name="" id="" class="form-control" cols="20" v-model="message"></textarea>
                    </p> 
               <div class="float-right">
                  <button type="button" class="btn btn-default" v-on:click = "replychat()" id="reply"><i class="fas fa-reply"></i> <span id="replytext">Reply</span></button>
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
    </div>
      <!-- /.row -->
    </section>
    <div class="modal fade"   id="createchat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Support chat  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
         <form action=""  v-on:submit.prevent = "createchat()">
            <label for="">title</label>
            <input type="text" class="form-control" v-model="title" required>
            <label for="">Message</label>
         <textarea name="" id="" class="form-control" v-model="message" required></textarea>
         <br>
          <button class="alert alert-warning" type="submit" id="create" ><i class="fas fa-plus"></i> <span id="createtext">Create chat</span> </button>
         
         </form>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
    </div>
</template>

<script>
import VueMomentsAgo from 'vue-moments-ago';

    export default {
    name: "support",
    components: {
    VueMomentsAgo
  },
        data(){
        return {
          chats: [],
          chat: '',
          messages: [],
          user_id : '',
          message: '',
          title : ''
        }
        },
       methods: {
          
        openchat(chat){
            this.chat = chat;
            this.messages = chat.messages;
            // this.markRead();
            this.scrollDown();
        },
        scrollDown(){
            setTimeout(() => {
                let d = $('#chat'); 
           $(d).scrollTop( $(d).prop("scrollHeight") );
           
            } , 500);
             
        },
        createchat(){
this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
            $('#create').attr('disabled','disabled');
                 $('#createtext').text('Processing...'); 
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/support/chat/create' , { 'title' : this.title , 'message' : this.message}).then((response) => {
                
                    if(response.data.code == 200){
                         Fire.$emit('reload');
                        setTimeout(() => {
                            this.chats.forEach(chat => {
                              if(this.chat.id == chat.id){
                                      this.chat = chat;
                                     this.messages = chat.messages;
                                     this.scrollDown();
                              }
                          });
                        } , 1000);
                        this.message = "";
                        this.title = "";
                      $('#createchat').modal('hide');

                         this.$swal(
                        'Successful',
                        'chat Created.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                   
                    $('#createtext').text('Create chat');
                      $('#create').removeAttr('disabled');
                    }).catch(err => {

                    //  window.location.href = '/login'; 
                     $('#createtext').text('Create chat');
                      $('#create').removeAttr('disabled');
                  });   
        },
        openCreatechat(){
            this.title = "";
            this.message = "";
            $('#createchat').modal('show');
        },
        replychat(){
            if(this.message == ''){
                this.$swal(
                        'Error',
                        'Enter Reply Message.',
                        'error'
                      ) ;
            }
            else{
this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
            $('#reply').attr('disabled','disabled');
                 $('#replytext').text('Processing...'); 
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/product/chat/reply' , { 'chat_id' : this.chat.id  , 'msg' : this.message}).then((response) => {
                
                    if(response.data.code == 200){
                         Fire.$emit('reload');
                        setTimeout(() => {
                            this.chats.forEach(chat => {
                              if(this.chat.id == chat.id){
                                      this.chat = chat;
                                     this.messages = chat.messages;
                                     this.scrollDown();
                              }
                          });
                        } , 1000);
                        this.message = "";
                         this.$swal(
                        'Successful',
                        'Message Sent.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                   
                    $('#replytext').text('Reply');
                      $('#reply').removeAttr('disabled');
                    }).catch(err => {

                    //  window.location.href = '/login'; 
                     $('#replytext').text('Reply');
                      $('#reply').removeAttr('disabled');
                  });     
      
            }
 
        },
        markRead(){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/support/chat/markread/' + this.chat.id).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                          Fire.$emit('reload'); 
                         
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                      window.location.href = '/login'; 

                  });  
        },
        getchats(){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/product/chat').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.chats = response.data.chats;
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                      window.location.href = '/login'; 

                  });   
        }
      },
        mounted(){
        this.getchats();
       Fire.$on('reload', () => {
        this.getchats();

          })
        }
    }
</script>
