<template>
<div >
        <section  class="content ">
                <div class="row">
                    <div class="col-md-12">
                       <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Product Table 
                                   <button class="btn btn-success btn-sm" v-on:click.prevent = "openmodal()" id="submit">
                                                 <i class="fas fa-plus" id="default"></i><i id="loader" style="display:none  " class="fa fa-circle-o-notch fa-spin"></i>
                                                  Add
                                              </button>
                                  </h3>
                               
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                            <th>Settings</th>
                                            <th>Action</th>
                                            <th>Delete</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="product in products" :key="product.id">
                                            <td>{{product.id}}</td>
                                            <td>{{product.name}}</td>
                                            <td>{{product.description}}</td>
                                            
                                            <td v-if="product.status == '1'">
                                              <span class="badge badge-success">active</span>  
                                            <a class="btn btn-warning btn-sm"  v-on:click.prevent = "flipitemstatus(product)" href="#">
                                                  <i class="fas fa-times"></i>
                                                  deactivate
                                              </a>
                                            </td>
                                            <td v-else>
                                               <span class="badge badge-danger">deactivated</span> 
                                                 <a class="btn btn-success btn-sm"  v-on:click.prevent = "flipitemstatus(product)" href="#">
                                                  <i class="fas fa-check"></i>
                                                  activate
                                              </a>
                                            </td>
                                            
                                            <td>
                                            {{product.amount_2}}
                                            </td>
                                            <td>
                                                <button class="btn btn-info" v-on:click.prevent = "viewimages(product)"> <i class="fas fa-images" id="default"></i>Galary</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-info" v-on:click.prevent="editproduct(product)"><i class="fas fa-edit" id="default"></i>edit </button>

                                            </td>
                                            <td>
                                               <button class="btn btn-danger btn-sm" v-on:click.prevent = "deleteitem(product.id)" >
                                                 <i class="fas fa-trash" id="default"></i>
                                                  delete
                                              </button>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="" v-if="modalactive" @submit.prevent="submitrequest()" >

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="addmode">Add A New Product </h5>
        <h5 class="modal-title" id="exampleModalLongTitle" v-else>Edit  Product </h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
              <div class="form-group">
                <label for="">Name</label>
                <input required class="form-control"  type="text" name="" id="" v-model="product.name">

                </div>  
                <div class="form-group">
                <label for="">Description</label>
                <textarea required  class="form-control" name="" id="" cols="30" rows="10" v-model="product.description"></textarea>                
                </div> 
                <div class="form-group">
                <label for="">Amount</label>
                <input required class="form-control" type="number" name="" id="" v-model="product.amount">
                </div>
                <hr class="alert-warning">
                <h5>Sellers Contact</h5>
                 <div class="form-group">
                <label for="">Sellers Name</label>
                <input required class="form-control" type="text" name="" id="" v-model="product.seller_name">
                </div>   
                <div class="form-group">
                <label for="">Sellers Phone Number</label>
                <input required class="form-control" type="text" name="" id="" v-model="product.seller_contact">
                </div> 
                <hr class="alert-warning">
                <div class="form-group">
                    <label for="">Select Product image</label>
                    <input v-if="addmode" required class="form-control"   type="file" id="file" name="file" />
                    <input v-else  class="form-control"   type="file" id="file" name="file" />
                </div>
                <img  style="height:200px ; width: 400px" v-bind:src ="'/storage/store/' + product.profile_image" alt="profil">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-primary">save</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="imagesmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Uploaded More Product images</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="" @submit.prevent="addimage()">
           <div class="form-group">
                    <label for="">Add Product image</label>
                    <input required class="form-control"   type="file" id="file2" name="file" />
                </div>
                <button class="btn btn-warning">Add Image</button>
        </form>
      <hr>
      <h3>Images</h3>
             <div  v-for="item_image in item_images"  :key="item_image.id" >
               <div v-if="item.id == item_image.item_id">
                  <a v-bind:href="'/storage/store/' + item_image.name"  target="_blank"> 
               <img  v-bind:src ="'/storage/store/' + item_image.name"  id="image"  alt="item_image" height="200" width="250" />
             </a>
             <br>
             <button class="btn btn-danger" v-on:click = "deleteimage(item_image.id)">Delete Image</button>
             <button class="btn btn-success" v-on:click = "setAsProfile(item_image.id)">Make Profile</button>
               </div>
             
             </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "productmanagement",
            data(){
        return {
         products: [],
         product: {},
         item_images: [],
         selected_images: [],
        addmode: false,
        modalactive: false,
        item: {}    
        }
        },
       methods: {
         setAsProfile(id){
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/setProfile',{'image_id' : id}).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Image Set As Profile.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
         },
         deleteimage(id){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/deleteimage',{'image_id' : id}).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Image Deleted Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
         },
         viewimages(item){
           this.item = item;
           console.log(this.item);

           let count = 0;
           this.item_images.forEach(image => {
           console.log(image.item_id);
           console.log(item.id);
             
             if(image.item_id == item.id){
               this.selected_images[count] = image;
               count++;
             }
           });
             $('#imagesmodal').modal('show');
         },
         addimage(){
              var fd = new FormData();
              var files = $('#file2')[0].files[0];
              fd.append('file',files);
              fd.append('item_id',this.item.id);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/addimage',fd).then((response) => {
                     if(response.data.code == 200){
                       
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Image Uploaded.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     Fire.$emit('reload');
                     $('#imagesmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
         },
         flipitemstatus(item){
                           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/flipitem',item).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Product Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
         },
           deleteitem(item_id){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/deleteproduct',{'item_id' : item_id}).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Product Deleted Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     Fire.$emit('reload');
                     $('#addmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           submitrequest(){
            console.log(this.product);   
            var fd = new FormData();
            if (!($('#file').get(0).files.length === 0)) {
              var files = $('#file')[0].files[0];

              fd.append('file',files);
            }
              fd.append('name',this.product.name);
              fd.append('description',this.product.description);
              fd.append('amount',this.product.amount);
              fd.append('seller_name',this.product.seller_name);
              fd.append('seller_contact',this.product.seller_contact);
              if(!this.addmode){
              fd.append('id',this.product.id);

              }
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/addproduct',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Proof Uploaded.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     Fire.$emit('reload');
                     $('#addmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           openmodal(){
               this.addmode = true;
               this.modalactive = true;
               this.product = [];
               $('#addmodal').modal('show');
           },
             editproduct(product){
               this.addmode = false;
               this.modalactive = true;
               this.product = product;
               $('#addmodal').modal('show');
           },
           getproducts(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/getitems').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.products = response.data.items;
                           this.item_images = response.data.item_images;
                           this.products.forEach(product => {
                             product['amount_2'] =   '₦'+ new Intl.NumberFormat().format(product.amount);
                           });
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getproducts();
               setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getproducts();
           
          })
        }
        
    }
</script>