 <template>
<div >
         <div class="container">
               proofs 
            </div>
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         
     
        }
        },
       methods: {
       
      },
        mounted() {
        
           
          
        }
    }
</script>