<template>
<div >
        <section  class="content ">
                <div class="row">
                    <div class="col-md-12">
                       <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Product Sub Category Properties Management 
                                  
                                  </h3>
                               <hr class="alert-dark">
                               <div class="form-group">
                                   <div class="row">
                                       <div class="col-md-6">
                                           <label for="">Select Category</label>
                                           <select name="" id="" class="form-control" v-model="category_id"  v-on:change="setSubCategories()" > 
                                            <option class="alert alert-default"   :value="category.id" v-for="category in categories" :key="category.id">{{category.name}} </option>

                                           </select>
                                       </div>
                                       <div class="col-md-6">
                                           <label for="">Select Sub Category</label>

                                           <select name="" id=""  class="form-control" v-model="subcategory_id"  v-on:change="setProperties()" > 
                                            <option class="alert alert-default"  :value="subcategory.id" v-for="subcategory in subcategories" :key="subcategory.id">{{subcategory.name}} </option>

                                           </select>
                                       </div>
                                   </div>
                               </div>

                               <hr class="alert-dark">
                                    <h5 class="alert alert-dark">Property list for category :  <span class="alert-success">{{category.name}}</span> || Subcategory: <span class=" alert-success">{{subcategory.name}} </span> </h5>
                                    <div class="row"><div class="col-md-10"></div> <div class="col-md-2"><button class="btn btn-warning btn-sm pull-right" v-on:click="openCreateProperty()" v-if="subcategory.name" ><i class="fas fa-plus">Add Property</i></button><hr></div></div>
                               
                                 <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Required</th>
                                            <th>Status</th>
                                            <th>Action</th>

                                           
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="property in properties" :key="property.id">
                                            <td>{{property.id}}</td>
                                            <td>{{property.name}}</td>
                                            <td>{{property.type}}

                                            <button class="btn btn-info btn-sm " v-if="property.type == 'option'" v-on:click="viewOptions(property)"><i class="fas fa-eye"></i></button>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="form-control" v-if="property.required == 'false'"  onclick="return false;" >
                                                <input type="checkbox" class="form-control" v-else checked onclick="return false;" ></td>
                                            
                                             <td>
                                            <span class="badge badge-danger" v-if="property.status == '0'">inactive</span>
                                            <span class="badge badge-success" v-else>active</span>
                                            </td>
                                           
                                            <td>
                                                <button class="btn btn-info btn-sm" v-on:click="openEditProperty(property)"><i class="fas fa-plus"></i>Edit</button>
                                                <button class="btn btn-danger btn-sm" v-on:click="deletedata('property', property.id)"><i class="fas fa-times"></i>delete</button>
                                            </td>
                                            
                                            
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body">
                                

                            </div>
                        </div>
                    </div>
                </div>

            </section>
<div class="modal fade"   id="options" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog " role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="add">Options </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
           <hr>
           <label for="">Option Value</label>
           <input type="text" name="" id="" class="form-control" v-model="option_value">
           <br>
    <button class="btn btn-info btn-sm" v-on:click="addOption()" id="option"><i class="fas fa-plus"></i><span id="optiontext">add option</span></button>
        <hr>
         <table class="table table-bordered table-hover" cellspacing="0" width="100%">
             <thead>
                 <th>name</th>
                 <th>Action</th>
             </thead>
             <tr v-for="option in options" :key="option.id">
                 <th>{{option.name}}</th>
                 
                 <th>
              <button class="btn btn-danger btn-sm" v-on:click="deletedata('option', option.id)"><i class="fas fa-times"></i>delete</button>

                 </th>
             </tr>
         </table>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
            <div class="modal fade"   id="addproperty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog " role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="add">Add Property</h5>
        <h5 class="modal-title" id="exampleModalLongTitle" v-else>Edit Property</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
         <form action=""  v-on:submit.prevent = "sendAddProperty()">
             <label for="">Name</label>
             <input type="text" class="form-control" v-model="property.name" required>
            <label for="">Property type</label>
            <select name="" id="" class="form-control" v-model="property.type">
                <option value="option">Option</option>
                <option value="text">Text</option>
            </select>
            <hr>
            <p><label class="checkbox" style="margin-right : 30px">
                  <input type="checkbox" class="form-control" v-model="property.required" > Required
                </label> <label class="checkbox">
                  <input type="checkbox" class="form-control" v-model="property.status" > Active
                </label></p>
                
           <hr>
           
           <br>
          <button v-if="add" class="alert alert-warning" type="submit" id="add" ><i class="fas fa-add"></i> <span id="addtext">Add Property</span> </button>
          <button v-else class="alert alert-warning" type="submit" id="add" ><i class="fas fa-add"></i> <span id="addtext">Edit Property</span> </button>
         
         </form>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

</div>
</template>

<script>
    
    export default {
    name: "contactus",
            data(){
        return {
         categories: [],
         category: {},
         subcategory: {},
         properties: [],
         property: {},
         subcategories: [],
         category_id: '',
         subcategory_id: '',
         add: true,
         options:[],
         option_value: ''
         
        }
        },
       methods: {
           addOption(){
               if(this.option_value == ''){
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Enter option Value',
                    })
               }else{
                  
              $('#option').attr('disabled','disabled');
                $('#optiontext').text('Processing...');
              var fd = new FormData();
              fd.append('name',this.option_value);
              fd.append('property_id',this.property.id);
              
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post( '/api/option/add',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     setTimeout(()=> {
                         this.refreshoptions();
                     }, 500)
                         this.$swal(
                        'Successful',
                        "Option Add Succefully",
                        'success'
                      ) ;
                     
                      $('#addproperty').modal('hide');
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    
                      $('#optiontext').text('add option');
                      $('#option').removeAttr('disabled'); 
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                     $('#optiontext').text('add option');
                      $('#option').removeAttr('disabled'); 

                  });  
               }
           },
           refreshoptions(){
                 this.properties.forEach(property => {
                           if(property.id == this.property.id){
                               this.property = property;
                               this.options = property.options;
                           } 
                       });
           },
           viewOptions(property){
               this.property = property;
               this.options = property.options;
               $('#options').modal('show')
           },
           openCreateProperty(){
               this.add = true;
               this.property = {};
               this.property.required = true;
               this.property.status = true;
               this.property.type = 'text';
               $('#addproperty').modal('show');
           },
           openEditProperty(property){
               this.add = false;
               this.property = property;
               if(property.status == '0'){
                   this.property.status = false;
               }else{
                   this.property.status = true;
               }
                if(property.required == 'false'){
                   this.property.required = false;
               }else{
                   this.property.required = true;
               }
               $('#addproperty').modal('show');
           },
           sendAddProperty(){
 $('#add').attr('disabled','disabled');
                $('#addtext').text('Processing...');
              var fd = new FormData();
              fd.append('name',this.property.name);
              fd.append('type',this.property.type);
              fd.append('subcategory_id',this.subcategory.id);
              fd.append('required',this.property.required);
              if(this.property.status){
                   fd.append('status','1');
              }else{
                   fd.append('status','0');
              }
             if(this.add){
                 this.address = '/api/property/create'; 
                 this.resp = 'Property Created Successfully.'; 
             }else{
                  this.address = '/api/property/edit'; 
                 this.resp = 'Property Edited Successfully.'; 
                 fd.append('property_id',this.property.id);
             }

                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post(this.address,fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        this.resp,
                        'success'
                      ) ;
                     
                      $('#addproperty').modal('hide');
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     $('#addcategory').modal('hide');
                      $('#addtext').text('Add Category');
                      $('#add').removeAttr('disabled'); 
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                     $('#addtext').text('Add Category');
                      $('#add').removeAttr('disabled'); 

                  }); 
           },
           deletedata(type, id){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                        let address = "";
                    if(type == 'property'){
                        address = '/api/property/delete/' + id;
                    }else{
                       address = '/api/option/delete/' + id; 
                    }
                // localStorage.setItem('access_token', data.access_token);
               axios.get(address).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                        if(type == 'option'){
                             setTimeout(()=> {
                         this.refreshoptions();
                          }, 500)
                        }
                        
                         this.$swal(
                        'Successful',
                        type+'  deleted Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
            setSubCategories(){
                this.properties = [];
                this.subcategory = {};
                console.log(this.category_id);
                this.categories.forEach(category => {
                    if(category.id == this.category_id){
                        this.category = category;
                        this.subcategories = category.subcategories;
                    }
                });
            },
            setProperties(){
                this.properties = [];
                this.subcategories.forEach(subcategory => {
                    if(subcategory.id == this.subcategory_id){
                        this.subcategory = subcategory;
                        this.properties = subcategory.properties;
                    }
                });
            },
           getcontacts(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/subcategory/properties').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.categories = response.data.categories;
                         if(this.category_id == ''){
                           this.subcategory_id = this.categories[0].subcategories[0].id;
                          this.category_id = this.categories[0].id;
                                        this.setSubCategories();
                                        this.setProperties();
                         }else{
                                 this.setSubCategories();
                                        this.setProperties();
                         }
                           
                        
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getcontacts();
             
               setTimeout(()=> {
              
              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getcontacts();
           
          })
        }
        
    }
</script>