 <template>
<div >
         <div class="container">
                
            </div>
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         
     
        }
        },
       methods: {
       
      },
        mounted() {
        
           
          
        }
    }
</script>

 <form id="target" >
                                
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Select An Artisan</label>
                                    <select required name="cars" id="skill" class="form-control rounded-pill">
                                        @if(isset($skills))
                                            @foreach ($skills as $skill)
                                             <option value="{{$skill->id}}">{{$skill->name}}</option>  
                                            @endforeach
                                        @endif
                                      </select>
                                </div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Describe What you want get Done.</label><textarea  required class="form-control"  id="description" cols="30" rows="5"></textarea></div>
                                <hr>
                                <h3>Your Data</h3>
                                <hr>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Name</label><input required class="form-control rounded-pill" id="name" type="text" /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Email</label><input required class="form-control rounded-pill" id="email" type="email" /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Phone Number</label><input required class="form-control rounded-pill" id="number" type="number" /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Address</label><input required class="form-control rounded-pill" id="address" type="text" /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">State</label>
                                    <select required name="cars" class="form-control rounded-pill" id="stateselect">
                                        
                                      </select>
                                </div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Area</label>
                                    <select required name="cars" id="areaselect"  class="form-control rounded-pill">
                                  
                                      </select>
                                </div>
                                
                                <button class="btn btn-primary btn-marketing btn-block rounded-pill mt-4" type="submit" id="submit"><i id="loader" style="display: none" class="fa fa-circle-o-notch fa-spin"></i> Place Request Now</button>
                            </form>