<template>
<div >
        <section id="" class="content ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Data Tables</h3>
                                
                            </div>
                            <div class="card-body">
                                 <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Skills</th>
                                            <th>Describtion</th>
                                            <th>Address</th>
                                            <th>Area</th>
                                            <th>State</th>
                                            <th>Phone Number</th>
                                            <th>Quote</th>
                                            <th>Amount Paid</th>
                                            <th>Status</th>
                                            <th>Actions</th>

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="request in requests" :key="request.id">
                                          <td>{{request.user.name}}</td>
                                          <td>{{request.user.email}}</td>
                                          <td>{{request.job_name}}</td>
                                          <td>{{request.jobdata.description}}</td>
                                          <td>{{request.jobdata.address}}</td>
                                          <td>{{request.area_name}}</td>
                                          <td>{{request.state_name}}</td>
                                          <td>{{request.jobdata.phone_number}}</td>
                                          <td> ₦{{request.jobdata.quote}}</td>
                                          <td>₦ {{request.jobdata.amount_paid}}</td>
                                          <td><span class="badge badge-info">{{request.status}}</span> </td>
                                          <!--  -->
                                          <!-- <button> view Reciepts</button> -->
                                          <td>
                                               <button v-if="request.status == 'Accepted'" v-on:click.prevent = "addQuote(request)" class="btn btn-warning">Add Quote</button>
                                              <button v-on:click.prevent = "viewartisan(request)" class="alert alert-info"> <i class="fas fa-eye"></i> Artisan</button>
                                              <button v-if= "request.status == 'Payment Processed' "  v-on:click.prevent = "confirmjob(request)" class="alert alert-info">Confirm Job Completion</button>
                                          </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
<div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Quote (Amount User is to Pay for the Job)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="">
            <label for="">Amount</label>
             <input type="number" v-model="amount" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary" v-on:click.prevent = "sendQuote()" id="submit">Add Quote</button>
      </div>
    </div>
  </div>
</div>
            <div class="modal fade" id="artisandata" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
   
        <h5 class="modal-title" id="exampleModalLongTitle" >Artisan Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
   
      <div class="modal-body" v-if = "request != '' ">
          <h2>Name</h2>
          <p>{{ request.artisan.name}}</p>
           <h2>Email</h2>
          <p>{{ request.artisan.email}}</p>
           <h2>Phone Number</h2>
          <p>{{ request.artisandata.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ request.artisandata.address}}</p>
          <h2>Area</h2>
          <p>{{ request.artisandata.area_name}}</p>
          <h2>State</h2>
          <p>{{ request.artisandata.state_name}}</p>
          <img  v-bind:src ="'/storage/profile/' + request.artisandata.profile_image"  id="image"  alt="proof" height="200" width="250" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Upload Proof Of Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="">
            <label for="">Select the image</label>
             <input type="file" id="file" name="file" />
             <img  id="image" src="#" alt="proof" height="200" width="250" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary" v-on:click.prevent = "uploadproof()">Upload</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="proofmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Uploaded Proof Of Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
             <div v-for="proof in proofs" :key="proof.id">
              <a v-bind:href="'/storage/proof/' + proof.name"  target="_blank"> 
               <img  v-bind:src ="'/storage/proof/' + proof.name"  id="image"  alt="proof" height="200" width="250" />
             </a>
             </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         requests: [],
         request: '',
         proofs: [],
         path: ""
            
        }
        },
       methods: {
           confirmjob(request){
              this.request = request;
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/supervisor/comfirmrequest',{'jobmerge_id' : request.id }).then((response) => {
                     if(response.data.code == 200){
                        Fire.$emit('reload');
                        this.$swal({
                      icon: 'success',
                      title: 'Successful',
                      text: 'Job Comfirmed Successfully.',
                    })
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  });  
           },
         viewartisan(request){
             this.request  = request;
              $('#artisandata').modal('show');
         },
           sendQuote() {
               if (this.amount != 0) {
                  $('#submit').attr('disabled','disabled');
                  $('#submit').text('Processing...');
          
              var fd = new FormData();
              fd.append('amount',this.amount);
              fd.append('jobmerge_id' , this.request.id);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/supervisor/addQuote',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Job Quoted.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                       $('#submit').text('Add Quote');
                    $('#submit').removeAttr('disabled');  
                     $('#uploadmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                 $('#submit').text('Add Quote');
                    $('#submit').removeAttr('disabled');  
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })

                  }); 
               }else{
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select an image',
                    })
               } 
            },
           addQuote(request){
              
               this.request = request;
               console.log(this.request);
                
                //  this.$swal(
                //         'Wifi Data Saved!',
                //         'The Wifi Data have been  Successfully.',
                //         'success'
                //       ) ;

                
                $('#uploadmodal').modal('show');

           },
         getproofs(request){
           $('#proofmodal').modal('show');
            this.request = request;
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/supervisor/getproofs',{'jobmerge_id' : request.id }).then((response) => {
                     if(response.data.code == 200){
                       this.proofs =  response.data.proofs;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
                  
         },
           getmergeRequest(){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/supervisor/getmergeRequest').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.requests = response.data.requests;
                           console.log(  this.requests )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } ,
              validateSupervisor(){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/supervisor/validate').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           console.log("artisan payment and active status verified");
                      }else{
                    console.log("artisan status not verified");
                     window.location.href = '/supervisordata'; 
                      }
                     
                    }).catch(err => {

                    //  window.location.href = '/login'; 

                  });    
           }
      },
        mounted() {
        // let $userStatus = localStorage.getItem('status');
        //  console.log("artisan dash");
        //  console.log($userStatus);
        // if($userStatus != null && $userStatus == 0){
        //   window.location.href = '/artisandata'; 
        // }
        this.validateSupervisor();
        console.log('erroorr');
           this.getmergeRequest();
           
         setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true, 
                    "order": [[ 0, "desc" ]]
                    });
            },2000); 
     
                 Fire.$on('reload', () => {
            this.getmergeRequest();
           
          })
        }
    }
</script>
