<template>
<div >
 
            <!-- /.card -->
        <section class="content">
          <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                         <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Users Tables</h3>
                               <div class="btn-group" role="group" aria-label="Basic example">
                                  <button type="button" class="btn btn-info" v-on:click = "viewUsers()">All</button>
                                 
                                  <button type="button" class="btn btn-info"  v-on:click = "viewArtisans()">Artisans</button>
                                  <button type="button" class="btn btn-info" v-on:click = "viewsupervisors()">Supervisors</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                             <th>Login Status</th>
                                             <th>Payment Status</th>
                                             <th>Profile Status</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                            <th>Delete</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="user in data" :key="user.id">
                                            <td>{{user.id}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.email}}</td>
                                            <td >
                                                <span v-if="user.role == 1">User</span>
                                                <span v-if="user.role == 2">Admin</span>
                                                <span v-if="user.role == 3">Artisan</span>
                                                <span v-if="user.role == 4">Supervisor</span>
                                            <a v-if="user.role == 3" class="btn btn-primary btn-sm" v-on:click.prevent = "viewartisan(user)">
                                                  <i class="fas fa-folder">
                                                  </i>
                                                  View
                                              </a>
                                              <a v-if="user.role == 4" class="btn btn-primary btn-sm" v-on:click.prevent = "viewsupervisor(user)">
                                                  <i class="fas fa-folder">
                                                  </i>
                                                  View
                                              </a>
                                            </td>
                                          <td> 
                                            <img v-if ="user.logged_in == '1'" src="/front/images/online.jpg" alt="" style="width: 10px; height:10px"> 
                                            <img v-else src="/front/images/offline.jpg" alt="" style="width: 15px; height:10px"> 
                                            <span class="badge badge-info">{{user.active}} </span>
                                          </td>
                                          <td v-if="user.data"> 
                                              <span  class="badge badge-danger"  v-if="user.data.payment_status == '0'">Not Paid </span>
                                              <div v-if="user.data.payment_status == '2'">
                                              <span  class="badge badge-warning"  >Pending Payment Confirmation </span>
                                              <button class="btn btn-warning" v-on:click= "openPayments(user.proofs)"><i class="fas fa-eye"></i>Payment</button>
                                              </div>
                                              <span  class="badge badge-success"  v-if="user.data.payment_status == '1'">Paid </span>
                                              
                                              </td>
                                          <td v-else> User Has no data </td>
                                          <td v-if="user.data"> 
                                              <span  class="badge badge-info" >{{user.data.status}} </span>
                                          </td>
                                          <td v-else> User Has no data </td>
                                            <td>
                                            <div v-if="user.status == 1">
                                                <span  class="badge badge-success" >active </span>
                                                <button v-on:click.prevent = "flipuser(user)" class="btn btn-warning">deactivate</button> 
                                            </div>
                                             <div  v-if="user.status == 0">
                                                <span class="badge badge-danger">inactive </span>
                                                <button v-on:click.prevent = "flipuser(user)" class="btn btn-success">activate</button>
                                               </div>   
                                                </td>
                                            
                                            <td>
                                             <a class="btn btn-info btn-sm" v-on:click.prevent = "edituser(user)" href="#">
                                                  <i class="fas fa-pencil-alt">
                                                  </i>
                                                  Edit
                                              </a>
                                             
                                            </td>
                                            <td>
                                              <button :id="'detetebutton' +user.id" v-on:click.prevent = "deleteUser(user.id)" class="btn btn-danger btn-sm" href="#">
                                                  <i class="fas fa-trash">
                                                  </i>
                                                 <span :id="'delete'+user.id">Delete</span> 
                                              </button>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </section>
   <div class="modal fade" id="artisanmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">artisan Data  </h5>
   <button class="btn btn-default" v-on:click.prevent="printDiv('ArtisanprintableArea')"><i class="fa fa-print" aria-hidden="true" style="    font-size: 17px;"> Print</i></button>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body"   >
         <div id="ArtisanprintableArea" style="display:block;">
         <div class="row">
           <div class="col-md-12">
              <h4>Name : <span style="color:green">{{ setuser.name}}</span> </h4>
           <hr class="alert-warning">
           </div>
           <div class="col-md-12">
             <h4> Email : <span style="color:green">{{ setuser.email}}</span></h4>
           <hr class="alert-warning">
           </div>
         </div>
          <div class="row" v-if = "artisandata != '' ">
             <div class="col-md-6">
          <h3 class="alert alert-info">artisan Data</h3>
          <h5>Status</h5>
          <p>{{ artisandata.status}}</p>
           <hr class="alert-warning">
            <h5>Payment Status</h5>
          <p v-if="artisandata.payment_status == '1'">Paid</p>
          <p v-else-if="artisandata.payment_status == '2'" class="badge badge-info">Pending Payment Confirmation</p>
          <p v-else class="badge badge-info">Pending Payment Confirmation</p>
           <hr class="alert-warning">
          <h5>Date of Birth</h5>
          <p>{{ artisandata.date_of_birth}}</p>
           <hr class="alert-warning">

             <h5>Phone Number</h5>
          <p>{{ artisandata.phone_number}}</p>
           <hr class="alert-warning">

          <h5>Address</h5>
          <p>{{ artisandata.address}}</p>
           <hr class="alert-warning">

          <h5>Area</h5>
          <p>{{ artisandata.area_name}}</p>
           <hr class="alert-warning">

          <h5>State</h5>
          <p>{{ artisandata.state_name}}</p>
           <hr class="alert-warning">
             <h5>Skills</h5>
          <p>{{ artisandata.skill_name}}</p>
         
         
          
           </div>
          
           <div class="col-md-6">
          <h3 class="alert alert-info">Guarantor Details</h3>

              <h5>Guarantor</h5>
          <p>{{ artisandata.guarantor}}</p>
           <hr class="alert-warning">

          <h5>Guarantor Phone Number</h5>
          <p>{{ artisandata.guarantor_number}}</p>
           <hr class="alert-warning">
            <h5>Guarantor Profile </h5>
            <a :href="'/storage/profile/' + artisandata.guarantor_profile" target="_blank">
           <img  v-bind:src ="'/storage/profile/' + artisandata.guarantor_profile"  id="image"  alt="proof" height="200" width="250" />
           </a>
           <hr class="alert-warning">
            <h5>Guarantor ID </h5>
             <a :href="'/storage/ids/' + artisandata.guarantor_id" target="_blank">
           <img  v-bind:src ="'/storage/ids/' + artisandata.guarantor_id"  id="image"  alt="proof" height="200" width="250" />
             </a>
           <hr class="alert-warning">
            
          <hr>
          
          
          </div>
           <div class="col-md-12">
             <h3 class="alert alert-info">Account Details</h3>
           </div>
           <div class="col-md-6"> 
             <h5>Bank Name </h5>
          <p>{{ artisandata.account_name}}</p>
           <hr class="alert-warning">
           </div>
           <div class="col-md-6">
             <h5>Account Number</h5>
          <p>{{ artisandata.account_number}}</p>
           <hr class="alert-warning">
           </div>
          <div class="col-md-12"><h3 class="alert alert-info">artisan ID</h3> </div>
          <div class="col-md-6">
            

          <h5>ID Type </h5>
          <p>{{ artisandata.id_type}}</p>
           <hr class="alert-warning">

          <h5>ID Number </h5>
          <p>{{ artisandata.id_number}}</p>
           <hr class="alert-warning">
            
          
          </div>
          <div class="col-md-6">
            <h5>ID </h5>
           <img  v-bind:src ="'/storage/ids/' + artisandata.artisan_id"  id="image"  alt="proof" height="200" width="250" />
           <hr class="alert-warning">
          
          <h5>Profile Picture</h5>
          <img  v-bind:src ="'/storage/profile/' + artisandata.profile_image"  id="image"  alt="proof" height="200" width="250" />
           <hr class="alert-warning">
          </div>
          </div>
          
          <div v-else>
            <h5 class="alert alert-danger">artisan have not yet provided his/her data</h5>
          </div>
          
          </div>
            <h6>Querries</h6>
             <hr class="alert-danger">
           
            <div class="row" v-for="querry in querries" :key="querry.id">
              <div class="col-md-8"><span style="color: red">{{querry.message}}</span></div>
              <div class="col-md-2"><span class="badge badge-info">{{querry.status}}</span></div>
              <div class="col-md-2"><span>{{querry.created_at}}</span></div>
            </div>
            <hr class="alert-danger">
                          
          <div v-if="rejectpage" >
                <form action="" v-on:submit.prevent = "querryData()">
                    <div class="row" >
              
              <div class="col-md-8">
                <label for="">Querry</label>
                <textarea name="" id="" class="form-control" v-model="querry" required></textarea></div>
              <div class="col-md-4">
                <br><br>
                <button type="submit" class="btn btn-danger" v-on:click.prevent = "querryData()"  id="querry">Querry Data</button></div>
            </div>
                </form>

          
          </div>
      </div>
      
      <div class="modal-footer">
        <div v-if="artisandata.status =='pending'">
        <button type="button" class="btn btn-success"  id="approve3" v-on:click.prevent = "approve('3')">Approve</button>
        <button type="button" class="btn btn-danger" v-on:click.prevent= "rejectData()"   id="reject3">Reject</button>
        </div>
        <div v-if="artisandata.status =='rejected'">
        <button type="button" class="btn btn-success"  id="approve3" v-on:click.prevent = "approve('3')">Approve</button>
        </div>
         <div v-if="artisandata.status =='approved'">
        <button type="button" class="btn btn-danger" v-on:click.prevent= "rejectData()"  id="reject3">Reject</button>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>      
   <div class="modal fade" id="supervisormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Supervisor Data  </h5>
   <button class="btn btn-default" v-on:click.prevent="printDiv('printableArea')"><i class="fa fa-print" aria-hidden="true" style="    font-size: 17px;"> Print</i></button>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body"  >
         <div id="printableArea" style="display:block;" >
            <div class="row">
           <div class="col-md-12">
              <h4>Name : <span style="color:green">{{ setuser.name}}</span> </h4>
           <hr class="alert-warning">
           </div>
           <div class="col-md-12">
             <h4> Email : <span style="color:green">{{ setuser.email}}</span></h4>
           <hr class="alert-warning">
           </div>
         </div>
          <div class="row" v-if = "supervisordata != '' ">
             <div class="col-md-6">
          <h3 class="alert alert-info">Supervisor Data</h3>
          <h5>Status</h5>
          <p>{{ supervisordata.status}}</p>
           <hr class="alert-warning">
            <h5>Payment Status</h5>
          <p v-if="supervisordata.payment_status == '1'">Paid</p>
          <p v-else class="badge badge-info">Not Paid</p>
           <hr class="alert-warning">
          <h5>Date of Birth</h5>
          <p>{{ supervisordata.date_of_birth}}</p>
           <hr class="alert-warning">

             <h5>Phone Number</h5>
          <p>{{ supervisordata.phone_number}}</p>
           <hr class="alert-warning">

          <h5>Address</h5>
          <p>{{ supervisordata.address}}</p>
           <hr class="alert-warning">

          <h5>Area</h5>
          <p>{{ supervisordata.area_name}}</p>
           <hr class="alert-warning">

          <h5>State</h5>
          <p>{{ supervisordata.state_name}}</p>
           <hr class="alert-warning">

         
         
          
           </div>
          
           <div class="col-md-6">
          <h3 class="alert alert-info">Guarantor Details</h3>

              <h5>Guarantor</h5>
          <p>{{ supervisordata.guarantor}}</p>
           <hr class="alert-warning">

          <h5>Guarantor Phone Number</h5>
          <p>{{ supervisordata.guarantor_number}}</p>
           <hr class="alert-warning">
            <h5>Guarantor Profile </h5>
           <img  v-bind:src ="'/storage/profile/' + supervisordata.guarantor_profile"  id="image"  alt="proof" height="200" width="250" />
           <hr class="alert-warning">
            <h5>Guarantor ID </h5>
           <img  v-bind:src ="'/storage/ids/' + supervisordata.guarantor_id"  id="image"  alt="proof" height="200" width="250" />
           <hr class="alert-warning">
            
          <hr>
          
          
          </div>
           <div class="col-md-12">
             <h3 class="alert alert-info">Account Details</h3>
           </div>
           <div class="col-md-6"> 
             <h5>Bank Name </h5>
          <p>{{ supervisordata.account_name}}</p>
           <hr class="alert-warning">
           </div>
           <div class="col-md-6">
             <h5>Account Number</h5>
          <p>{{ supervisordata.account_number}}</p>
           <hr class="alert-warning">
           </div>
          <div class="col-md-12"><h3 class="alert alert-info">Supervisor ID</h3> </div>
          <div class="col-md-6">
            

          <h5>ID Type </h5>
          <p>{{ supervisordata.id_type}}</p>
           <hr class="alert-warning">

          <h5>ID Number </h5>
          <p>{{ supervisordata.id_number}}</p>
           <hr class="alert-warning">

          
          </div>
          <div class="col-md-6">
            <h5>ID </h5>
           <img  v-bind:src ="'/storage/ids/' + supervisordata.id_image"  id="image"  alt="proof" height="200" width="250" />
           <hr class="alert-warning">
          
          <h5>Profile Picture</h5>
          <img  v-bind:src ="'/storage/profile/' + supervisordata.profile_image"  id="image"  alt="proof" height="200" width="250" />
           <hr class="alert-warning">
          </div>
          </div>
          
          <div v-else>
            <h5 class="alert alert-danger">Supervisor have not yet provided his/her data</h5>
          </div>
         </div>
        <h6>Querries</h6>
             <hr class="alert-danger">
           
            <div class="row" v-for="querry in querries" :key="querry.id">
              <div class="col-md-8"><span style="color: red">{{querry.message}}</span></div>
              <div class="col-md-2"><span class="badge badge-info">{{querry.status}}</span></div>
              <div class="col-md-2"><span>{{querry.created_at}}</span></div>
            </div>
            <hr class="alert-danger">
                          
          <div v-if="rejectpage" >
                <form action="" v-on:submit.prevent = "querryData()">
                    <div class="row" >
              
              <div class="col-md-8">
                <label for="">Querry</label>
                <textarea name="" id="" class="form-control" v-model="querry" required></textarea></div>
              <div class="col-md-4">
                <br><br>
                <button type="submit" class="btn btn-danger" v-on:click.prevent = "querryData()"  id="querry">Querry Data</button></div>
            </div>
                </form>

          
          </div>
          
      </div>
      
      <div class="modal-footer">
        <div v-if="supervisordata.status =='pending'">
        <button type="button" class="btn btn-success" v-on:click.prevent = "approve('4')" id="approve4">Approve</button>
        <button type="button" class="btn btn-danger"   v-on:click.prevent= "rejectData()" >Reject s</button>
        </div>
        <div v-if="supervisordata.status =='rejected'">
        <button type="button" class="btn btn-success"  id="approve4" v-on:click.prevent = "approve('4')" >Approve</button>
        </div>
         <div v-if="supervisordata.status =='approved'">
        <button type="button" class="btn btn-success"   v-on:click.prevent= "rejectData()" >Reject</button>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>  
 <div class="modal fade" id="payments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Proof of Payments</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div class="row" v-for="proof in proofs" :key="proof.id">
           <div class="col-md-12"> <hr class="alert-warning"> </div>
            <div class="col-md-8">
            <a :href="'/storage/proof/' + proof.image_name" >
                <img :src="'/storage/proof/' + proof.image_name" alt="" style="height: 200px  ;  ">

            </a>
                </div>
            <div class="col-md-3">
                <p class="alert alert-success"> ₦{{proof.amount}}</p>
                <p class="alert alert-info">{{proof.status}}</p>
            </div>
            <div class="col-md-1" v-if="proof.status == 'pending'">
                <button class="btn btn-warning" id="acceptproof" v-on:click="acceptregPayment(proof.id)">Confirm Payment</button>
                <button class="btn btn-danger" id="rejectproof" v-on:click="rejectregPayment(proof.id)">Reject Payment</button>
            </div>
            <div class="col-md-12"> <hr class="alert-warning"> </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>     
 <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog  " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit User Data </h5>
        <h4>Select Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
          <form action="">
              <select name="" v-model="user.role" id="" class="form-control">
                  <option value="1">User</option>
                  <option value="3">Artisan</option>
                  <option value="2">Admin</option>
              </select>
              </form>   
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-primary" v-on:click.prevent = "saveuserdata()">save</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
        data: [],
         users: [],
         admins: [],
         allusers: [],
         artisans: [],
         supervisors: [],
         proofs: [],
         querries: [],
         user: {},
         more: false,
         setuser:{},
         artisandata: "",
         userdata: {},
         rejectpage: false,
         supervisordata: '',
         querry: ''
            
        }
        },
       methods: {
         printDiv(id){
            var printContents = document.getElementById(id).innerHTML;
              var originalContents = document.body.innerHTML;

              document.body.innerHTML = printContents;

              window.print();

              document.body.innerHTML = originalContents;
         },
        openPayments(proofs){
            this.proofs = proofs;
         $('#payments').modal('show'); 
        },
        viewUsers(){
         window.location.href = '/usermanagement'; 

        },
      viewArtisans(){
         window.location.href = '/artisanmanagement'; 
        },
         viewsupervisors(){
          window.location.href = '/supervisormanagement'; 
 
        },
         screenUsers(role){

         },
         rejectData(){
          this.rejectpage = !this.rejectpage;
         },
         querryData(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
                 $('#querry').attr('disabled','disabled');
                 $('#querry').text('Processing...'); 
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/rejectUser', {'user_id' : this.setuser.id , 'querry' : this.querry}).then((response) => {
                     if(response.data.code == 200){
                     
                       Fire.$emit('reload');
                       if(this.setuser.role == '3'){
                       this.viewartisan(this.setuser);

                       }else if(this.setuser.role == '4'){
                       this.viewsupervisor(this.setuser);

                       }
                       this.rejectpage =false;
                         this.$swal(
                        'Successful',
                        'User Data Querried Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#querry').text('Querry Data');
                      $('#querry').removeAttr('disabled');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                   $('#querry').text('Querry Data');
                   $('#querry').removeAttr('disabled');
                this.error = err.response.data; 
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
         },
             acceptregPayment(id){
// acceptproof
            $('#acceptproof').attr('disabled','disabled');
            $('#acceptproof').text('Processing...'); 
    this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/regpayment/comfirm/' + id).then((response) => {
                    console.log( response.data);
                       if(response.data.code == '200'){
                       Fire.$emit('reload');
                        $('#payments').modal('hide'); 
                       this.$swal(
                        'Successful',
                        'Proof of Payment accepted.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#acceptproof').text('Comfirm Payment');
                   $('#acceptproof').removeAttr('disabled');
                    }).catch(err => {
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    }) 
                   $('#acceptproof').text('Comfirm Payment');
                   $('#acceptproof').removeAttr('disabled');
                  }); 
         },
         rejectregPayment(id){
// rejectproof
            $('#rejectproof').attr('disabled','disabled');
            $('#rejectproof').text('Processing...'); 
    this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/regpayment/reject/' + id).then((response) => {
                    console.log( response.data);
                       if(response.data.code == '200'){
                       Fire.$emit('reload');
                        $('#payments').modal('hide'); 
                       this.$swal(
                        'Successful',
                        'Proof of Payment Rejected.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#rejectproof').text('Reject Payment');
                   $('#rejectproof').removeAttr('disabled');
                    }).catch(err => {
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    }) 
                   $('#rejectproof').text('Reject Payment');
                   $('#rejectproof').removeAttr('disabled');
                  }); 
         },
         viewsupervisor(user){
           this.supervisordata = "";
             console.log("artisan data");
               this.setuser = user;
               this.querries = [];
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/supervisor/' + user.id).then((response) => {
                    console.log( response.data.artisan_data);
                       if(response.data.code == '200'){
                            this.supervisordata = response.data.supervisor_data;
                            this.querries = response.data.querries;

                          //  console.log(this.artisandata);
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                  this.error = err.response.data; 
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })

                  }); 
               $('#supervisormodal').modal('show');
         },
           viewartisan(user){
             this.artisandata = "";
             console.log("artisan data");
               this.setuser = user;
               this.querries = [];
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/artisan/' + user.id).then((response) => {
                    console.log( response.data.artisan_data);
                       if(response.data.code == '200'){
                            this.artisandata = response.data.artisan_data;
                            this.querries = response.data.querries;
                          //  console.log(this.artisandata);
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  }); 
               $('#artisanmodal').modal('show');
           },
           edituser(user){
               this.user = user;
             $('#uploadmodal').modal('show');
             
           },
           saveuserdata(){
                   this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/saveuser',this.user).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'User Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           flipuser(user){
                            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/flipuser',user).then((response) => {
                     if(response.data.code == 200){
                       $('#artisanmodal').modal('hide');
                       $('#supervisormodal').modal('hide');
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'User Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           deleteUser(user_id){
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
                            console.log(user_id);
                 $('#deletebutton'.user_id).attr('disabled','disabled');
                 $('#delete'.user_id).text('Processing...'); 
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/deleteUser', {'user_id' : user_id}).then((response) => {
                     if(response.data.code == 200){
                     
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'User Deleted Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#delete').text('Delete');
                      $('#deletebutton').removeAttr('disabled');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                   $('#delete'.user_id).text('Delete');
                   $('#deletebutton'.user_id).removeAttr('disabled');
                this.error = err.response.data; 
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           getusers(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/supervisors').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                          
                           this.data = response.data.supervisors;
                           console.log(  this.requests.artisans )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } ,
            approve(role){
                 $('#approve'+role).attr('disabled','disabled');
                 $('#reject'+role).attr('disabled','disabled');
                 $('#approve'+role).text('Processing...'); 
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/acceptuser',{'user_id' : this.setuser.id }).then((response) => {
                     if(response.data.code == 200){
                        $('#artisanmodal').modal('hide');
                       $('#supervisormodal').modal('hide');
                        Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'User Data Approved Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     $('#approve'+role).text('Approve');
                      $('#reject'+role).removeAttr('disabled');
                      $('#approve'+role).removeAttr('disabled');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                 this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                  $('#approve'+role).text('Approve');
                      $('#reject'+role).removeAttr('disabled');
                      $('#approve'+role).removeAttr('disabled');

                  }); 
            }
      },
        mounted() {
        
           this.getusers();
               setTimeout(()=> {
               $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
              });    
              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getusers();
           
           
          })
        }
        
    }
</script>