<template>
<div >
        <section  class="content">
          <div class="container-fluid">
        <div class="row"  >
                    <div class="col-md-12">
                       <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Tips </h3>
                            </div>
                             <div class="card-body">
                                 
                                    <div class="row">
                                        <div class="col-lg-3 ">
                                          <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Tip Title</label>
                                            <input required type="text"  class="form-control" v-model="title" >
                                            </div>
                                           </div>
                                        <div class="col-lg-3 ">
                                            
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Tip Body</label>
                                            <textarea required class="form-control" v-model="body" ></textarea>
                                            </div>
                                            </div>
                                        <div class="col-lg-3">
                                          <label for="">Image</label>
                                          <input type="file" class="form-control"  id="file">
                                        </div>
                                        <div class="col-lg-3"> 
                                          <br><br>
                                           <button class="btn btn-success btn-sm" v-on:click.prevent = "addtip()"  id="submit">
                                                 <i class="fas fa-plus" id="default"></i><i id="loader" style="display:none  " class="fa fa-circle-o-notch fa-spin"></i>
                                                  Add
                                              </button>
                                       </div>
                                    </div><hr><hr>
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">

                                   <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Body </th>
                                            <th>Image </th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody v-if="!emptytip">
                                        <tr   v-for="tip in tips" :key="tip.id">
                                            
                                            <td>{{tip.title}}</td>
                                            <td>{{tip.body}}</td>
                                            <td>
                                              <div  v-if="tip.image != 'none'">
                                            <img :src="'/storage/tips/' + tip.image" alt="" style="height:100px; width:100px">
                                              </div>
                                            </td>
                                            <td v-if= "tip.status == 1">
                                              <span class="badge badge-success">active</span>  
                                            <a class="btn btn-warning btn-sm" v-on:click.prevent = "fliptip(tip.id)" href="#">
                                                  <i class="fas fa-times"></i>
                                                  deactivate
                                              </a>
                                            </td>
                                            <td v-else>
                                               <span class="badge badge-danger">deactivated</span> 
                                                 <a class="btn btn-success btn-sm" v-on:click.prevent = "fliptip(tip.id)" href="#">
                                                  <i class="fas fa-check"></i>
                                                  activate
                                              </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" v-on:click.prevent = "deletetip(tip.id)" href="#">
                                                  <i class="fas fa-trash">
                                                  </i>
                                                  Delete
                                              </a>
                                        
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                    <tbody v-else></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </section>


</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
        emptytip : true,
        tips: [],
        title: "",
        body: "",

      
            
        }
        },
       methods: {
           fliptip(id){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/fliptip', {'id' : id }).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                            this.title = "";
                           this.body = "";
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Tip Status Changed.',
                        'success'
                      ) ;
                     
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });  
                     },
           addtip(){

            
               $('#loader').show();
               $('#default').hide();
                 $('#submit').attr('disabled','disabled');
               console.log(this.title);
               console.log(this.body);
                 if(this.title == "" && this.body == ""){
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please provide tip title and body',
                    })
                       
                     }else{
                        var fd = new FormData();
                         if (!($('#file').get(0).files.length === 0)) {
                         
                          var files = $('#file')[0].files[0];
                          fd.append('file',files);
                          }
                          fd.append('title' , this.title );
                          fd.append('body' , this.body );
                       this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/addtips', fd).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Tip Added.',
                        'success'
                      ) ;
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });  
                     }
                $('#loader').hide();
               $('#default').show();
               $('#submit').removeAttr('disabled');

         
           },

          deletetip(id){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/deletetip', {'id' : id }).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Tip Deleted.',
                        'success'
                      ) ;
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });  
          },
           gettips(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/gettips').then((response) => {
                      console.log( response.data);
                       if(response.data.code == '200'){
                          this.tips  = response.data.tips;
                          if(this.tips.length > 0) {
                              this.emptytip = false;
                          }else{
                              this.emptytip =  true;
                          }

                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.gettips();
            setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]
                    });
            },2000); 
           
            Fire.$on('reload', () => {
            this.gettips();
           
          })
        }
        
    }
</script>