<template>
<div >
          <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><a href="/requestmanagent"><i class="fas fa-tasks"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Total Requests</span>
                <span class="info-box-number">
                  {{request.total_request}}
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><a href="/mergedrequest"><i class="fas fa-list"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Pending Merge</span>
                <span class="info-box-number">
                  {{request.pending_request}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><a href="/completedrequest"><i class="fas fa-list-ol"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Merged Requests</span>
                <span class="info-box-number">
                  {{request.merged_request}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><a href="/artisanskills"><i class="fas fa-project-diagram"></i></a></span>

              <div class="info-box-content">
                <span class="info-box-text">Completed Requests</span>
                <span class="info-box-number">
                  {{request.completed_request}}
                </span>
                
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div> 

        
    <div class="row">
        <div class="col-md-10 offset-1">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Request Artisan</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="target" v-on:submit.prevent = "makeRequest()" style="margin: 20px">
                       <div class="row">
                           <div class="col-md-6">
                                  <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Select An Artisan</label>
                                    <select required name="cars" id="skill" class="form-control rounded-pill" v-model="data.skill_id">
                                                   <option v-for="skill in skills" :key="skill.id" :value="skill.id"> {{skill.name}} </option>     
                                       
                                      </select>
                                </div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Describe What you want get Done.</label><textarea  v-model="data.description" required class="form-control"  id="description" cols="30" rows="5"></textarea></div>
                                <hr>
                                   <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">State</label>
                                                <select required v-on:change = "selectareas()" name="cars" id="areaselect"  v-model="data.state_id" class="form-control rounded-pill">
                                                   <option v-for="state in states" :key="state.id" :value="state.id"> {{state.name}} </option>     
                                            
                                                </select>
                                            </div>
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Area</label>
                                                <select   required name="cars" id="areaselect"  v-model="data.area_id" class="form-control rounded-pill">
                                                   <option v-for="area in area_selected" :key="area.id" :value="area.id"> {{area.name}} </option>     
                                                     
                                                </select>
                                            </div>
                           </div>
                           <div class="col-md-6">
                               <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Job Type</label>
                                    <select required name="cars" id="skill" class="form-control rounded-pill" v-model="data.job_type">
                                       <option value="new">New Job</option>
                                       <option value="old">Old Job</option>
                                       <option value="repairs">Repairs</option>
                                      </select>
                                </div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Name</label><input required v-model="data.name" class="form-control rounded-pill" id="name" type="text" readonly /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Email</label><input v-model="data.email" required class="form-control rounded-pill" id="email" type="email" readonly /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Phone Number(08039999999)</label><input v-model="data.phone_number" required minlength="11" maxlength="11" class="form-control rounded-pill" id="number" type="number" /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Address</label><textarea required  class="form-control rounded-pill" id="address" type="text" v-model="data.address"></textarea></div>
                              
                           </div>
                           </div>         
                             
                                
                                
                                <button class="btn btn-primary btn-marketing btn-block rounded-pill mt-4" type="submit" id="submit"><i id="loader" style="display: none" class="fa fa-circle-o-notch fa-spin"></i> Place Request Now</button>
                            </form>
            </div>
            <!-- /.card -->
</div>
    </div>

</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
          request: {},
          data: {},
         user_data: {},
         user: {},
         skills : [],
         areas: [],
         states: [],
         area_selected:[]
     
        }
        },
       methods: {

         makeRequest(){
          $('#submit').attr('disabled','disabled');
          $('#submit').text('Processing...');
          $
            if(this.data.phone_number.length < 11 || this.data.phone_number.length > 11){
                 this.$swal(
                        'Error',
                        'Invalid Phone number Format (08039999999).',
                        'error'
                      ) ;
            }else{
                       this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/makeJobrequest', this.data).then((response) => {
                       console.log( response.data);
                       
                        if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Artisan Request Sent, Your should be merged soon.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#submit').text('Place Request Now');
                      $('#submit').removeAttr('disabled');
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Network Error',
                    })
                      $('#submit').text('Place Request Now');
                    $('#submit').removeAttr('disabled');   
                    //  window.location.href = '/login'; 

                  });
            }
         
         },
              getData(){
            console.log('here o');            
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/userRequestData').then((response) => {
                 console.log('here o');
                    console.log( response.data);
                  
                       this.skills = response.data.skills;
                       this.areas = response.data.areas;
                       this.states = response.data.states;
                       this.user = response.data.user;
                       this.user_data = response.data.userdata;
                       this.data.name = this.user.name;
                       this.data.email = this.user.email;
                       this.data.phone_number = this.user_data.phone_number;
                       this.data.address = this.user_data.address;

                       this.request.total_request = response.data.total_request; 
                       this.request.merged_request = response.data.merged_request; 
                       this.request.pending_request = response.data.pending_request; 
                       this.request.completed_request = response.data.completed_request; 
                       this.request.cancelled_request = response.data.cancelled_request; 
                         console.log('here o');
                        console.log(this.data);
                        console.log(this.skills);
                       this.selectareas();
                
                        
                     
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
       },
         selectareas(){
               console.log(this.data.state_id)
              let  count = 0;
              this.area_selected = [];
              this.areas.forEach(area => {
                  if(area.state_id == this.data.state_id){
                      this.area_selected[count] = area;
                      count++;
                  }
              }); 
           },
      },
        mounted() {
         this.getData();
            Fire.$on('reload', () => {
            this.getData();
           
          })
           
          
        }
    }
</script>
