<template>
<div >
         <div class="container">
           
            </div>
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         
     
        }
        },
       methods: {
       loadrequest(){
        
       }
      },
        mounted() {
        this.loadrequest();

           
          
        }
    }
</script>
