<template>
<div >
        <section id="" class="content ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="panel-title">Artisan Requests</h3>
                               <button class="alert alert-info" v-on:click.prevent = 'requestArtisan()'>Request Artisan</button>
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                   <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Skills</th>
                                            <th>Describtion</th>
                                            <th>Address</th>
                                            <th>Area</th>
                                            <th>State</th>
                                            <th>Phone Number</th>
                                            <th>Quote (Price)</th>
                                            <th>Amount Paid </th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="request in requests" :key="request.id">
                                            <td>{{request.id}}</td>
                                            <td>{{request.skill.name}}</td>
                                            <td>{{request.description}}</td>
                                            <td>{{request.address}}</td>
                                            <td>{{request.area_name}}</td>
                                            <td>{{request.state_name}}</td>
                                            <td>{{request.phone_number}}</td>
                                          <td> ₦{{request.quote}}</td>
                                          <td>₦ {{request.amount_paid}}</td>
                                            <td>{{request.created_at}}</td>
                                            <td> <span class="badge badge-info">{{request.status}}</span>  </td>
                                            <td >
                                             
                                               <button  v-if="request.status != 'Pending' && request.status != 'Cancelled'" class="btn btn-info btn-sm" v-on:click.prevent =  "viewartisan(request)" >
                                                 <i class="fas fa-eye" id="default"></i>
                                                  View
                                              </button>
                                              <button  v-if="request.status == 'Quoted' || request.status == 'Pending Payment Confirmation'" class="btn btn-info btn-sm" v-on:click.prevent =  "viewpamentPortal(request)" >
                                                 <i class="fas fa-credit-card"></i>
                                                  Make Payment
                                              </button>
                                             <button  v-if="request.status == 'Paid'" class="btn btn-info btn-sm" v-on:click.prevent =  "confirmJob(request)" >
                                                <i class="fas fa-thumbs-up"></i>
                                                 Confirm Completion
                                              </button>         
                                            
                                              
                                             
                                             <button  v-if="request.status == 'merged' || request.status == 'Pending' || request.status == 'pending' || request.status == 'Quoted'" class="btn btn-danger btn-sm" v-on:click.prevent = "openCancelRequest(request.id)" >
                                                 <i class="fas fa-times" id="default"></i>
                                                  cancel
                                              </button>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                 <br>
                           <br>
                           <br>
                           <br>
                           <br>
                  
            </section>
 <div class="modal fade"   id="artisanmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Artisan Data  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body" v-if = "request != '' ">
        <div class="row">
          <div class="col-md-6">
            <h3 class="alert alert-warning">Artisan Data</h3>
              <h2>Name</h2>
          <p>{{ request.artisan.name}}</p>
           <h2>Email</h2>
          <p>{{ request.artisan.email}}</p>
           <h2>Phone Number</h2>
          <p>{{ request.artisan_data.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ request.artisan_data.address}}</p>
          <h2>Area</h2>
          <p>{{ request.artisan_data.area_name}}</p>
          <h2>State</h2>
          <p>{{ request.artisan_data.state_name}}</p>
           <h2>Skills</h2>
          <p>{{ request.skill.name}}</p>
          <img  v-bind:src ="'/storage/profile/' + request.artisan_data.profile_image"  id="image"  alt="proof" height="200" width="250" />
     
          </div>
          <div class="col-md-6" v-if = 'request.job_type != "repairs"' >
            <h3 class="alert alert-warning">Supervisor Data</h3>
               <h2>Name</h2>
          <p>{{ request.supervisor.name}}</p>
           <h2>Email</h2>
          <p>{{ request.supervisor.email}}</p>
           <h2>Phone Number</h2>
          <p>{{ request.supervisor_data.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ request.supervisor_data.address}}</p>
          <h2>Area</h2>
          <p>{{ request.supervisor_data.area_name}}</p>
          <h2>State</h2>
          <p>{{ request.supervisor_data.state_name}}</p>
           
          <img  v-bind:src ="'/storage/profile/' + request.supervisor_data.profile_image"  id="image"  alt="proof" height="200" width="250" />
     
          </div>
        </div>
         </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
 <div class="modal fade"   id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Payment Portal  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
         <h6 class="alert alert-success">Your Job Quote is ₦{{amount}}</h6>
         <div class="row">
           <div class="col-md-6" v-if= "request.payment_status == '0'">
             <paystack
            :amount="amount * 100"
            :email="email"
            :paystackkey="PUBLIC_KEY"
            :reference="reference"
            :callback="processPayment"
            :close="close"
          >
       <button id="cardpay" class="btn btn-success "><i class="fas fa-credit-card"></i>   Pay With Card</button> 
        </paystack>
           </div>
           <div class="col-md-6">
             <a href="" class="btn btn-warning" v-on:click.prevent = "flipdbt()">Direct Bank Transfer</a>
           </div>
         </div>
        <div v-if="dbt">
           <hr class="alert-success">
         <h6 class="alert alert-info">Make Payment to the Account bellow and Upload a proof of Payment</h6>
          <div class="row">
            <div class="col-md-8">
              <h4 style="color:green"> Account Name : Empire klassic</h4>
              <h4 style="color:green">Bank Name : GT BANK</h4>
              <h4 style="color:green">Account Number : 0460328585 </h4>
            </div>
            <div class="col-md-4">
            <label for="">Amount to be paid: ₦{{amount}}</label>
              <label for="">Upload Proof of Payment</label>
              <input type="file" name="" id="fileproof">
              <hr>
              <button v-on:click.prevent = "uploadProof()" class="btn btn-info" id="submit">Upload</button>
            </div>
          </div>
          <hr class="alert-warning">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">proof </th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="proof in proofs" :key="proof.id">
      <th scope="row">id{{proof.id}}</th>
      <td><img :src="'/storage/proof/' + proof.image_name"  style="height:150px ; width:150px" /></td>
      <td>{{proof.amount}}</td>
      <td>{{proof.created_at}}</td>
      <td>{{proof.status}}</td>
    </tr>
 
  </tbody>
</table>
        </div>

         </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade"   id="artisanRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Request Artisan  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
         <form id="target" v-on:submit.prevent = "makeRequest()" style="margin: 20px">
                       <div class="row">
                           <div class="col-md-6">
                                  <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Select An Artisan</label>
                                    <select required name="cars" id="skill" class="form-control rounded-pill" v-model="data.skill_id">
                                                   <option v-for="skill in skills" :key="skill.id" :value="skill.id"> {{skill.name}} </option>     
                                       
                                      </select>
                                </div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Describe What you want get Done.</label><textarea  v-model="data.description" required class="form-control"  id="description" cols="30" rows="5"></textarea></div>
                                <hr>
                                   <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">State</label>
                                                <select required v-on:change = "selectareas()" name="cars" id="areaselect"  v-model="data.state_id" class="form-control rounded-pill">
                                                   <option v-for="state in states" :key="state.id" :value="state.id"> {{state.name}} </option>     
                                            
                                                </select>
                                            </div>
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Area</label>
                                                <select   required name="cars" id="areaselect"  v-model="data.area_id" class="form-control rounded-pill">
                                                   <option v-for="area in area_selected" :key="area.id" :value="area.id"> {{area.name}} </option>     
                                                     
                                                </select>
                                            </div>
                           </div>
                           <div class="col-md-6">
                               <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Job Type</label>
                                    <select required name="cars" id="skill" class="form-control rounded-pill" v-model="data.job_type">
                                       <option value="new">New Job</option>
                                       <option value="old">Old Job</option>
                                       <option value="repairs">Repairs</option>
                                      </select>
                                </div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Name</label><input required v-model="data.name" class="form-control rounded-pill" id="name" type="text" readonly /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Email</label><input v-model="data.email" required class="form-control rounded-pill" id="email" type="email" readonly /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Phone Number(08039999999)</label><input v-model="data.phone_number" required minlength="11" maxlength="11" class="form-control rounded-pill" id="number" type="number" /></div>
                                <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Address</label><textarea required  class="form-control rounded-pill" id="address" type="text" v-model="data.address"></textarea></div>
                              
                           </div>
                           </div>         
                             
                                
                                
                                <button class="btn btn-primary btn-marketing btn-block rounded-pill mt-4" type="submit" id="submit"><i id="loader" style="display: none" class="fa fa-circle-o-notch fa-spin"></i> Place Request Now</button>
                            </form>

         </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade"   id="cancelRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cancel Request  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body">
         <form action=""  v-on:submit.prevent = "cancelRequest()">
            <label for="">Reason</label>
         <textarea name="" id="" class="form-control" v-model="reason" required></textarea>
          <button class="alert alert-danger" type="submit"  ><i class="fas fa-times"></i> <span id="cancel">Cancel</span> </button>
         
         </form>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
import paystack from 'vue-paystack';
    export default {
    name: "dashboard",
    components: {
          paystack
        },
            data(){
        return {
          PUBLIC_KEY: 'pk_live_52dfdb0ad6a000d0467fbc2596831c9ecca41175',
          amount : 1000,
          dbt: false,
          email: '',
          data:{},
         requests: [],
         request:"",
         password: "",
        repassword: "",
        skills : [],
         areas: [],
         states: [],
         request_id: "",
         reason: "",
         area_selected:[],
         proofs: [],
        good: false,
        cancel: false 
        }
        },
        computed: {
   reference() {
          let text = "";
          let possible =
            "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
          for (let i = 0; i < 10; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
          return text;
        }
      },
       methods: {
         confirmJob(request){
          
                  this.$swal({
                      title: 'Are you sure ?',
                    text: "You won't be able to revert and Job Completion Confirmation!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Confirm Job Completion'
                  }).then((result) => {
                     console.log(result)
                    if (result.value) {
                     this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/confirmrequest',{ "jobmerge_id" : request.jobmerge_id }).then((response) => {
                     if(response.data.code == 200){
                   Fire.$emit('reload');
                        this.$swal(
                        'Successful',
                        'Request Comfirmed SuccessFully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                  //  window.location.href = '/signin';
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Network Error',
                    })

                  });  
                    }
                  })
         },
            uploadProof() {
               if (!($('#fileproof').get(0).files.length === 0) ) {
                  $('#submit').attr('disabled','disabled');
                    $('#submit').text('Processing...');
              var fd = new FormData();
              var files = $('#fileproof')[0].files[0];
              fd.append('file',files);
              fd.append('amount',this.amount);
              fd.append('jobmerge_id',this.request.jobmerge_id);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/reqpayment/dbt',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Proof Uploaded.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#submit').text('Save Data');
                      $('#submit').removeAttr('disabled'); 
                     Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
                      $('#submit').text('Save Data');
                      $('#submit').removeAttr('disabled'); 

                  }); 
               }else{
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select an image and enter Amount',
                    })
               } 
            },
      requestArtisan(){
        $('#artisanRequest').modal('show');
      },
           processPayment() {
               
            $('#cardpay').attr('disabled','disabled');
          $('#cardpay').text('Processing...');
           console.log('payment recieved');
           
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
            var fd = new FormData();
            console.log(this.reference);
              fd.append('reference',this.reference);
              fd.append('amount',this.amount);
              fd.append('jobmerge_id',this.request.jobmerge_id);
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/reqpayment/card',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Payment SuccessFul.',
                        'success'
                      ) ;
                     }
                     else if(response.data.code == 404){
                      
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: response.data.error,
                    })
                     
                     }
                     else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                       $('#cardpay').text('Pay With Card');
                      $('#cardpay').removeAttr('disabled');
                     Fire.$emit('reload');
                     $('#payment').modal('hide');
                     
                    }).catch(err => {
                        $('#cardpay').text('Pay With Card');
                      $('#cardpay').removeAttr('disabled');
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                  this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: err.response.data,
                    })
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
            },
            close: () => {
            console.log("You closed checkout page")
            },
            flipdbt(){
            this.dbt =!this.dbt;
            },
         viewpamentPortal(request){
           this.request = '';
           this.request = request;
           console.log(this.request);
           this.proofs = request.proofs;
           this.amount = request.quote;
               $('#payment').modal('show');
         },
          selectareas(){
               console.log(this.data.state_id)
              let  count = 0;
              this.area_selected = [];
              this.areas.forEach(area => {
                  if(area.state_id == this.data.state_id){
                      this.area_selected[count] = area;
                      count++;
                  }
              }); 
           },
           openCancelRequest(id){
             this.request_id = id;
             $('#cancelRequest').modal('show');
           },
           cancelRequest(){
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }
              $('#cancel').attr('disabled','disabled');
              $('#cancel').text('Processing...');
                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/cancelRequest',{ "request_id" : this.request_id ,"reason" : this.reason }).then((response) => {
                     if(response.data.code == 200){
                   Fire.$emit('reload');
                        this.$swal(
                        'Successful',
                        'Request Cancelled SuccessFull.',
                        'success'
                      ) ;
                      $('#cancelRequest').modal('hide');
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                       $('#cancel').text('cancel');
                      $('#cancel').removeAttr('disabled');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                  //  window.location.href = '/signin';
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Network Error',
                    })

                  });  
           },
           getDiff(){
            if(this.password == this.repassword && this.password != ""){
               this.good = true;
               this.cancel = false;
               

            }else{
                this.good = false;
               this.cancel = true;
            }
            },
        submitPass(){
           if(this.password == this.repassword && this.password != "" ){ 
               
                       this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/updatepassword',{ "password" : this.password }).then((response) => {
                     if(response.data.code == 200){
                   
                        this.$swal(
                        'Successful',
                        'Password Saved.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                  //  window.location.href = '/signin';
 

                  }); 
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Please Provide A valid password',
                      text: '',
                    })

           }
        },
           viewartisan(request){
               this.request = request;
               $('#artisanmodal').modal('show');
           },
              makeRequest(){
          $('#submit').attr('disabled','disabled');
          $('#submit').text('Processing...');
          
            if(this.data.phone_number.length < 11 || this.data.phone_number.length > 11){
                 this.$swal(
                        'Error',
                        'Invalid Phone number Format (08039999999).',
                        'error'
                      ) ;
            }else{
                       this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/makeJobrequest', this.data).then((response) => {
                       console.log( response.data);
                       
                        if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Artisan Request Sent, Your should be merged soon.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                      $('#submit').text('Place Request Now');
                      $('#submit').removeAttr('disabled');
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Network Error',
                    })
                      $('#submit').text('Place Request Now');
                    $('#submit').removeAttr('disabled');   
                    //  window.location.href = '/login'; 

                  });
            }
         
         },
           getmyRequest(){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/getmyrequest').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.requests = response.data.requests;
                           this.skills = response.data.skills;
                            this.areas = response.data.areas;
                            this.states = response.data.states;
                            this.data.name = response.data.user.name;
                            this.data.email =  response.data.user.email;
                            this.selectareas();
                           console.log(  this.requests )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } ,
             resetTable(){
                setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]
                    });
            },2000);
             }
          
      },
        mounted() {
        this.email =  localStorage.getItem('email');
           this.getmyRequest();
            Fire.$on('reload', () => {
            this.getmyRequest();
          })
          this.resetTable();
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
        }
    }
</script>
