<template>
<div >
        <section  class="content ">
                <div class="row">
                    <div class="col-md-12">
                           <router-link to="/createproduct" class="alert alert-success btn-sm"><i class="fas fa-plus"></i>Create Ad</router-link>
                             <hr>
                              <div v-for="ad in ads" :key="ad.id">
                                <button class="btn btn-success " v-on:click="openReview(ad.reviews)">View Reviews ({{ad.reviewscount}})</button>
                             <div class="card">
                               <div class="card-header"></div>
                               <div class="card-body">
                                       <div class="row">
                                    <div class="col-md-4">
                                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                      <div class="carousel-inner">
                                        <div class="carousel-item active">
                                          <img class="d-block w-100" style="height:300px"  :src="'/storage/product/'+ad.images[0].image" alt="First slide">
                                        </div>

                                        <div class="carousel-item" v-for="image in ad.images" :key="image.id">
                                          <img class="d-block w-100" style="height:300px" :src="'/storage/product/'+image.image" alt="Second slide">
                                        </div>
                                        
                                      </div>
                                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                      </a>
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                      <p><span class="alert alert-info">Ad Title</span> </p>  
                                      <p><span > {{ad.name}}</span> </p>  
                                      <hr class=" alert-dark">
                                      <p><span class="alert alert-info">Ad Description</span> </p>  
                                      <p><span > {{ad.description}}</span> </p>  
                                      <hr class=" alert-dark">
                                    <p><span class="alert alert-info">Ad Price</span> </p>  
                                      <p><span > ₦{{ad.price}}</span> </p>  
                                      <hr class=" alert-dark">
                                      <p><span class="alert alert-info">Ad Type</span> </p>  
                                      <p><span > {{ad.ad_type}}</span> </p>  
                                      <hr class=" alert-dark">

                                    </div>
                                    <div class="col-md-4">
                                       <p><span class="alert alert-info">Ad Category</span> </p>  
                                      <p><span > {{ad.category.name}}</span> </p>  
                                      <hr class=" alert-dark"> 
                                        <p><span class="alert alert-info">Ad Subcategory</span> </p>  
                                      <p><span > {{ad.subcategory.name}}</span> </p>  
                                      <hr class=" alert-dark"> 
                                       <p><span class="alert alert-info">Ad Status</span> </p>  
                                      <p><span > {{ad.status}}</span> </p>  
                                      <hr class=" alert-dark"> 
                                    </div>
                                    
                                </div>
                                <div class="row">
                                  <div class="col-md-12 "><hr class="alert-dark"></div>
                                  <div class="col-md-4" v-for="property in ad.features" :key="property.id">
                                    <h4>{{property.name}}</h4>
                                    <p>{{property.value}}</p>
                                    </div> 
                                    
                                </div>
                               </div>
                             </div>
                              </div>
                             
                     
                    </div>
                </div>

            </section>
<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ad Reviews From Users</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
          <div class="card" v-for="review in reviews" :key="review.id">
            <div class="card-header"></div>
            <div class="card-body">

              <h6><span class="alert alert-info">USer Name : {{review.name}}</span> </h6>  
              <hr>
              <h6><span class="alert alert-info">USer Email : {{review.email}}</span> </h6>  
              <hr>
              <h6><span class="alert alert-info">USer Review :</span> </h6>  
              <hr>
          <p>{{review.review}}</p>
            </div>
          </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

</div>
</template>

<script>
    
    export default {
    name: "contactus",
            data(){
        return {
         ads: [],
        reviews: [] 
        }
        },
       methods: {
          openReview(reviews){
            this.reviews = reviews;
            $('#review').modal('show');
          },
           getads(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/products').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.ads = response.data.products;
                           this.ads.forEach(product => {
                             product.price =    new Intl.NumberFormat().format(product.price);
                           });
                        
                      }else{
                    console.log("artisan status not verified");
                    //  wimdow.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getads();
               setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getads();
           
          })
        }
        
    }
</script>